#tool_tab table td{height:18px;}
#bigb{left: 10px;top: 50px;margin-top: 2px;}
.change_Descriptions{float: right;}
.disno{display:none;}
.btn_01 {border-radius: 2px; BORDER: #555 1px solid; text-shadow: 0 1px 1px rgba(0,0,0,.3);box-shadow: 0 1px 2px rgba(0,0,0,.2);FONT-SIZE: 12px; min-width: 5em;height:25px;COLOR: #e9e9e9; background-color: #6e6e6e}
.ws280{width: 248px;}
.float_left{float:left;}
.font8{font-size:10px;}
.name{font-size:10px;}
.FS_Auto{cursor: pointer;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
#bigb{left: 10px;top: 50px;margin-top: 2px;}
.font8{ -webkit-transform:scale(0.83);margin: 0px -4px -2px -4px;}
.name{-webkit-transform:scale(0.83);margin: 0px -4px -2px -4px;}
.cm2{position: relative;left: -2px;}
.cm4{position: relative;left: -4px;}
.cml2{position: relative;left: -19px;}
.cml3{position: relative;left: -14px;}
.cml6{position: relative;left: -12px;}
.cml4{position: relative;left: -1px;}
.prl15{position: relative;left: -15px;}
.pr2{position: relative;right:-2px;}
.pr17{position: relative;right:17px;}
.pr7{position: relative;right: 11px;}
 table.info7 td:first-child{position: relative;left: -10px;}
.left2{position: relative;left: -20px;}
}

.in40{width: 50px;}
.o100b{
width: 230px;}
.in50{width: 70px;}
.Multiple{width: 173px;}
.linkw{width: 150px;}
.r80{width:180px;}
.in80{width:75px;}
.in140{width: 140px;}
.in170{width: 155px;}
.in200{width: 200px;}
.in350{width: 350px;}
.in100{width: 100px;}
.in110{width: 180px;margin-left:10px;margin-top: 10px;margin-bottom: 10px;}
.Pre_info{float:right}
.m_Pre_info{float:right}
.D_Pre_info{float:right}
.SNB_url{display:none;}
.finish{display:none;}
.NB_url{display:none;}
.HBP_url{display:none;}
.VBP_url{display:none;}	
.cke_top{padding: 0px 0px 0px 0px;}
.cke_reset{background: transparent;}
.cke_inner{background: transparent;position: relative;}
#Loading{display:none;overflow: hidden;z-index:9999}
#Loading2{display:none;overflow: hidden;z-index:9999}
/*.ui-dialog-titlebar{display:none;}*/
.upfin{display:none;}
.ui-dialog-titlebar-close {
  visibility: hidden;
}

#Menubar_up .dropzone2{min-height: 50px;}
#mobile_up .dropzone2{min-height: 50px;}
#policy_up .dropzone2{min-height: 50px;}
#Body_up .dropzone2{min-height: 50px;}
#Menubar_up .dropzone{min-height: 50px;}
#mobile_up .dropzone{min-height: 50px;}
#policy_up .dropzone{min-height: 50px;}
#Body_up .dropzone{min-height: 50px;}
.dropzone{min-height: 10px;}
table.tablename, div.table-label {
margin: 0px auto;
}
/*#infodetail{display:none;}*/
#Policy_text{display:none;}
#divbutton{width:360px;position:relative;top:30px;border:2px solid;border-radius:12px;border-collapse:separate;border-color:#DEDEDE;padding:5Px 5Px 5Px 5Px; clear:both;}
.trtop{vertical-align: top;}
.inputHW{width: 50px;}
/*
.P_height{
	overflow-x: hidden;
	overflow-y:visible;
}
*/
.block{
	margin-left: 10px;
}
.height400{
	height: 400px;
	width:300px;
	overflow-x: hidden;
	overflow-y:visible;
}
.width400{
	height:150px;
	width:400px;
	overflow-y: hidden;
	overflow-x:visible;
}
.cattip{
	height:300px;
	width:500px;
}
.cattipbox{
	height:300px;
	width:250px;
	overflow-y: visible;
	overflow-x:hidden;
	display: block;
}
.overcattip{
	height:250px;
	width:220px;
	overflow-y: visible;
	overflow-x:hidden;
}
.navbar{height:400px;
	width:500px;
	overflow-y: visible;
	overflow-x:hidden;}
	#Layout_Style{display: inline-block;
height: 20px;}

	#mobilebox{
	display:none;
	text-align: left;
	position:relative;
	width: 430px;
	height: 650px;
	overflow-y: visible;
	overflow-x:hidden;
	}
	#Item_Specifcations{
	display:none;
	width: 400px;
	}

	form > table{margin : 2px 0}
	.cke_wysiwyg_frame cke_reset{width: 100%; height: 100%;}
	.tardisplay {display: none; }
.tipdiv { 
    display: none; 
    background-color: #e5e5e5;
    border: 1px solid black;
    padding: 10px;
	position:absolute;
	}
	
	 .jPicker tr{vertical-align:top;}
	 .jPicker td{vertical-align:top;}
	  .jPicker .Icon span.Image{top:10px}
  .jPicker .Icon span.Color, .jPicker .Icon span.Alpha{top:10px;margin-right: 100px;}
  .inputwidth{width:100px}
  #sample2_graphic_setting_Shop_Name_Banner{cursor: pointer;}
  #sample2_graphic_setting_Notice_Banner{cursor: pointer;}
  #sample2_graphic_setting_Horizontal_Banner{cursor: pointer;}
  #sample2_graphic_setting_Vertical_Banner{cursor: pointer;}
 /* #SNBanner{z-index: 999999999;display:none;width:500px;}*/
  #MenuD{z-index: 0;display:none;}
  #NBanner{z-index: 0;display:none;}
  #HPBanner{background: #white;z-index: 0;}
  #VPBanner{background: #white;z-index: 0;display:none;}
  #bigb{width:100px;float: left;position: fixed;background-color: #999999;padding: 0px 0px 3px 0px;z-index: 10;opacity: 0.97; filter: alpha(opacity = 97);border-radius: 12px;}
/*  #T_Desc{overflow: auto;height: 400px;}*/
  #Policy_background{}
  #menu{overflow-x:hidden;overflow-y:auto;height: 350px;}
/*  #T_Path{overflow-x:hidden;overflow-y:auto;height: 400px;}*/
  #T_CrossSell{overflow-x:hidden;overflow-y:auto;height: 400px;}
  div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
}
#butset{width :250px;margin-left: 5px;margin-top: 3px;}
#outhtml{margin-top: -10px;z-index: -1;width: 1080px;margin: auto;}
.detail{cursor: pointer;}
 #layout_box{width:920px;height:500px;}
 .ui-tabs .ui-tabs-nav li a{padding: 0.1em 0.1em;padding-top:3px;}
 .ui-tabs .ui-tabs-panel{padding: 0.1em 0.1em;padding-top:5px;}
 table.info8 {border:2px solid;border-radius:12px;width :360px;border-collapse:separate;border-color:#DEDEDE;padding:1Px;}
 table.info4 {width :270px;}
 table.info5 {border:2px solid;border-radius:12px;width :300px;border-collapse:separate;border-color:#DEDEDE;padding:1Px;}
 table.info7 {border-radius:5px;border-collapse:separate;border-color:#DEDEDE;padding:1Px;margin-top: 2px;margin-bottom: 2px;}
.content_type_id{width: 180px;margin-left: 10px;margin-top: 10px;margin-bottom: 10px;}
.d_content_type_id{width: 180px;margin-left: 10px;}
.d_content_pos{width: 180px;margin-left: 10px;}
.d_content_text{width: 180px;margin-left: 10px;}
.m_content_type_id{width: 180px;margin-left: 10px;}
.m_content_text {width: 180px;}
.d_content_align{width: 180px;}
 .ui-state-highlight{height: 85px;line-height:85px;}
 .sort{cursor: n-resize;}
 .msort{cursor: n-resize;}
 .dsort{cursor: n-resize;}
table.info6 {width:500px;margin: 5PX;}
.toright{float:right}
.topname{padding: 5px;font-weight:bold;}
.topsuname{font-weight:bold;}
.pic_details{cursor: pointer;}
.d_pic_details{cursor: pointer;}
.d_html_details{cursor: pointer;}
.d_desc_details{cursor: pointer;}
.text_details{cursor: pointer;}
.new_details{cursor: pointer;}
.item_details{cursor: pointer;}
.infoadd{cursor: pointer;display: -webkit-box;}
.icon-shuaxin{cursor:pointer;}
.icon-bangzhu{cursor:help;}
.icon-tanchushezhi{cursor:pointer;}
.icon-guanbi{cursor:pointer;}
.cell{margin: 3px;}
.toptoptop{margin: 8px;}
.btn_del{cursor: pointer;}
.inbtn_del{cursor: pointer;}
table.tablename,div.table-label{width : 100%; margin:0px auto;}
.content_type_id{border: 0px solid;font-weight:bold;}
.layout_box_div_css{float:left;width :120px;height: 160px;}
.top_Title{position: absolute;top: 12px;}
.setw{padding-left: 10px;}
#mobilefooter {display: none;}
#btn_bin{display: none;}
.ui-tabs .ui-tabs-nav li a{
width: 43px;
-webkit-transform:scale(0.9);
}
.ui-tabs .ui-tabs-nav li{
margin: 1px .1em 0 0;
}
#create_info{}
.info_click{display: -webkit-box;text-decoration: none;}
.diff3{margin: 10px;}
#dfix{position: fixed;top: 74px;}
#tool_tab table td.hr{border-top :#444444 1px solid;height: 3px;}
#logo{display:none;}
#mobilephone{BORDER: #000000 21px solid;
border-top: #000000 50px solid;
border-bottom: #000000 60px solid;
width: 475px;
height: 660px;
border-radius: 60px;
/*background: #000000;*/
margin-left: 270px;
display:none;}
/*
.P_height::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}
.P_height::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.P_height::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*/
.mpicbox::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}
.mpicbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.mpicbox::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#mobilebox::-webkit-scrollbar {
    width: 12px;
}
#mobilebox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#mobilebox::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#gpw{color:#666666;position:relative;top:-25px;}
#buymobile{display:none;}
.attrdetailsi{background-image: url("/images/ebay/template/round_arrow_down-15.png");width:15px;height:15px;top:4px;position:relative;border:0px;display:inline-block;}
.mbbutton {
cursor: pointer;
border-radius: 25px;
BORDER: #555 1px solid;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
padding: 8px;
padding-left: 15px;
padding-right: 15px;
text-decoration: none;
}
#template_s{width: 100px;}
.goright{float:right;}

/***************** Liang editing  ******************/

#mobilephone{
/*background: transparent;*/
background-image: url(/images/ebay/template/mobilephone.png);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
height: 780px;
border: 0px transparent;
border-radius: 0px;
background-repeat: no-repeat;
}
#mobilebox{
background-image: none !important;
background: transparent !important;
border:0px !important;
width: 420px !important;
margin-left: 27px !important;
top: 98px !important;
height: 595px !important;
overflow-y: scroll !important;
}

/***************** Liang editing  ******************/