/* line 91, ../sass/variable.scss */
.text-warn {
  color: #ff0033;
}

/* line 94, ../sass/variable.scss */
.text-rever-warn {
  color: #FFFFFF;
  background-color: #ff0033;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-warn:hover:not([disabled]), .btn-warn:focus:not([disabled]) {
  background-color: #e6002e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-warn[disabled] {
  cursor: not-allowed;
  background-color: #ff99ad;
}
/* line 111, ../sass/variable.scss */
.btn-warn.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff0033;
  border: 1px solid #ff0033;
}

/* line 117, ../sass/variable.scss */
.tips-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-remind {
  color: #FFFBE1;
}

/* line 94, ../sass/variable.scss */
.text-rever-remind {
  color: #8a6d3b;
  background-color: #FFFBE1;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}
/* line 102, ../sass/variable.scss */
.btn-remind:hover:not([disabled]), .btn-remind:focus:not([disabled]) {
  background-color: #e6e2cb;
  color: #8a6d3b;
}
/* line 107, ../sass/variable.scss */
.btn-remind[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-remind.btn-outer-border {
  background-color: #8a6d3b;
  color: #FFFBE1;
  border: 1px solid #FFFBE1;
}

/* line 117, ../sass/variable.scss */
.tips-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}

/* line 91, ../sass/variable.scss */
.text-active {
  color: #01bdf0;
}

/* line 94, ../sass/variable.scss */
.text-rever-active {
  color: #FFFFFF;
  background-color: #01bdf0;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-active:hover:not([disabled]), .btn-active:focus:not([disabled]) {
  background-color: #01aad8;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-active[disabled] {
  cursor: not-allowed;
  background-color: #8be6ff;
}
/* line 111, ../sass/variable.scss */
.btn-active.btn-outer-border {
  background-color: #FFFFFF;
  color: #01bdf0;
  border: 1px solid #01bdf0;
}

/* line 117, ../sass/variable.scss */
.tips-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-important {
  color: #ff9900;
}

/* line 94, ../sass/variable.scss */
.text-rever-important {
  color: #FFFFFF;
  background-color: #ff9900;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-important {
  background-color: #ff9900;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-important:hover:not([disabled]), .btn-important:focus:not([disabled]) {
  background-color: #e68a00;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-important[disabled] {
  cursor: not-allowed;
  background-color: #ffd699;
}
/* line 111, ../sass/variable.scss */
.btn-important.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* line 117, ../sass/variable.scss */
.tips-important {
  background-color: #ff9900;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-success {
  color: #2ecc71;
}

/* line 94, ../sass/variable.scss */
.text-rever-success {
  color: #FFFFFF;
  background-color: #2ecc71;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-success:hover:not([disabled]), .btn-success:focus:not([disabled]) {
  background-color: #29b866;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-success[disabled] {
  cursor: not-allowed;
  background-color: #a8ebc4;
}
/* line 111, ../sass/variable.scss */
.btn-success.btn-outer-border {
  background-color: #FFFFFF;
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

/* line 117, ../sass/variable.scss */
.tips-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-title {
  color: #333333;
}

/* line 94, ../sass/variable.scss */
.text-rever-title {
  color: #FFFFFF;
  background-color: #333333;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-title {
  background-color: #333333;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-title:hover:not([disabled]), .btn-title:focus:not([disabled]) {
  background-color: #2e2e2e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-title[disabled] {
  cursor: not-allowed;
  background-color: gray;
}
/* line 111, ../sass/variable.scss */
.btn-title.btn-outer-border {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

/* line 117, ../sass/variable.scss */
.tips-title {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-text {
  color: #666666;
}

/* line 94, ../sass/variable.scss */
.text-rever-text {
  color: #FFFFFF;
  background-color: #666666;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-text {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-text:hover:not([disabled]), .btn-text:focus:not([disabled]) {
  background-color: #5c5c5c;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-text[disabled] {
  cursor: not-allowed;
  background-color: #b3b3b3;
}
/* line 111, ../sass/variable.scss */
.btn-text.btn-outer-border {
  background-color: #FFFFFF;
  color: #666666;
  border: 1px solid #666666;
}

/* line 117, ../sass/variable.scss */
.tips-text {
  background-color: #666666;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-icon {
  color: #999999;
}

/* line 94, ../sass/variable.scss */
.text-rever-icon {
  color: #FFFFFF;
  background-color: #999999;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-icon {
  background-color: #999999;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-icon:hover:not([disabled]), .btn-icon:focus:not([disabled]) {
  background-color: #8a8a8a;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-icon[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
}
/* line 111, ../sass/variable.scss */
.btn-icon.btn-outer-border {
  background-color: #FFFFFF;
  color: #999999;
  border: 1px solid #999999;
}

/* line 117, ../sass/variable.scss */
.tips-icon {
  background-color: #999999;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-background {
  color: #f5f5f5;
}

/* line 94, ../sass/variable.scss */
.text-rever-background {
  color: #000000;
  background-color: #f5f5f5;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-background {
  background-color: #f5f5f5;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-background:hover:not([disabled]), .btn-background:focus:not([disabled]) {
  background-color: #dddddd;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-background[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-background.btn-outer-border {
  background-color: #000000;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

/* line 117, ../sass/variable.scss */
.tips-background {
  background-color: #f5f5f5;
  color: #000000;
}

/* line 91, ../sass/variable.scss */
.text-none {
  color: #FFFFFF;
}

/* line 94, ../sass/variable.scss */
.text-rever-none {
  color: #000000;
  background-color: #FFFFFF;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-none {
  background-color: #FFFFFF;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-none:hover:not([disabled]), .btn-none:focus:not([disabled]) {
  background-color: #e6e6e6;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-none[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-none.btn-outer-border {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 117, ../sass/variable.scss */
.tips-none {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 123, ../sass/variable.scss */
.iv-tips {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: none;
}
/* line 135, ../sass/variable.scss */
.iv-tips p {
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 142, ../sass/variable.scss */
.iv-tips span.iconfont {
  font-size: 32px;
  margin-right: 10px;
}
/* line 146, ../sass/variable.scss */
.iv-tips .tips-close {
  margin-left: 30px;
}

/* line 4, ../sass/alert.scss */
.alert {
  text-align: center;
}
/* line 8, ../sass/alert.scss */
.alert.submit-notice {
  padding: 10px 0;
  width: 100%;
  background-color: #d9ecd9;
}

/* line 17, ../sass/alert.scss */
.iv-tips .icon-chenggong {
  font-size: 40px;
  margin-right: 10px;
}

/* line 24, ../sass/alert.scss */
.alertMsg {
  margin: 50px auto;
  font-size: 20px;
}
/* line 27, ../sass/alert.scss */
.alertMsg .iconfont {
  font-size: 48px;
}

/* line 33, ../sass/alert.scss */
.alert-box,
.confirm-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1002;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 46, ../sass/alert.scss */
.alert-box .content,
.confirm-box .content {
  text-align: center;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 53, ../sass/alert.scss */
.alert-box {
  width: 400px;
  height: 140px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 57, ../sass/alert.scss */
.alert-box .content {
  font-size: 18px;
}

/* line 61, ../sass/alert.scss */
.confirm-box {
  width: 600px;
  height: 250px;
  -moz-box-shadow: 4px 4px 5px #777;
  -webkit-box-shadow: 4px 4px 5px #777;
  box-shadow: 4px 4px 5px #777;
}
/* line 65, ../sass/alert.scss */
.confirm-box .content {
  font-size: 14px;
}
/* line 68, ../sass/alert.scss */
.confirm-box .action {
  -webkit-flex: 0 0 80px;
  flex: 0 0 80px;
}

/* line 73, ../sass/alert.scss */
#mask-layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 90, ../sass/alert.scss */
.iv-alert {
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-warn {
  background-color: #ff0033;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-remind {
  background-color: #FFFBE1;
  border-color: #F6E2AB;
  color: #8a6d3b;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-active {
  background-color: #01bdf0;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-important {
  background-color: #ff9900;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-success {
  background-color: #2ecc71;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-title {
  background-color: #333333;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-text {
  background-color: #666666;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-icon {
  background-color: #999999;
  border-color: #F6E2AB;
  color: #FFFFFF;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-background {
  background-color: #f5f5f5;
  border-color: #F6E2AB;
  color: #000000;
}
/* line 98, ../sass/alert.scss */
.iv-alert.alert-none {
  background-color: #FFFFFF;
  border-color: #F6E2AB;
  color: #000000;
}

/*# sourceMappingURL=alert.css.map */
