/* line 91, ../sass/variable.scss */
.text-warn {
  color: #ff0033;
}

/* line 94, ../sass/variable.scss */
.text-rever-warn {
  color: #FFFFFF;
  background-color: #ff0033;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-warn:hover:not([disabled]), .btn-warn:focus:not([disabled]) {
  background-color: #e6002e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-warn[disabled] {
  cursor: not-allowed;
  background-color: #ff99ad;
}
/* line 111, ../sass/variable.scss */
.btn-warn.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff0033;
  border: 1px solid #ff0033;
}

/* line 117, ../sass/variable.scss */
.tips-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-remind {
  color: #FFFBE1;
}

/* line 94, ../sass/variable.scss */
.text-rever-remind {
  color: #8a6d3b;
  background-color: #FFFBE1;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}
/* line 102, ../sass/variable.scss */
.btn-remind:hover:not([disabled]), .btn-remind:focus:not([disabled]) {
  background-color: #e6e2cb;
  color: #8a6d3b;
}
/* line 107, ../sass/variable.scss */
.btn-remind[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-remind.btn-outer-border {
  background-color: #8a6d3b;
  color: #FFFBE1;
  border: 1px solid #FFFBE1;
}

/* line 117, ../sass/variable.scss */
.tips-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}

/* line 91, ../sass/variable.scss */
.text-active {
  color: #01bdf0;
}

/* line 94, ../sass/variable.scss */
.text-rever-active {
  color: #FFFFFF;
  background-color: #01bdf0;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-active:hover:not([disabled]), .btn-active:focus:not([disabled]) {
  background-color: #01aad8;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-active[disabled] {
  cursor: not-allowed;
  background-color: #8be6ff;
}
/* line 111, ../sass/variable.scss */
.btn-active.btn-outer-border {
  background-color: #FFFFFF;
  color: #01bdf0;
  border: 1px solid #01bdf0;
}

/* line 117, ../sass/variable.scss */
.tips-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-important {
  color: #ff9900;
}

/* line 94, ../sass/variable.scss */
.text-rever-important {
  color: #FFFFFF;
  background-color: #ff9900;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-important {
  background-color: #ff9900;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-important:hover:not([disabled]), .btn-important:focus:not([disabled]) {
  background-color: #e68a00;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-important[disabled] {
  cursor: not-allowed;
  background-color: #ffd699;
}
/* line 111, ../sass/variable.scss */
.btn-important.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* line 117, ../sass/variable.scss */
.tips-important {
  background-color: #ff9900;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-success {
  color: #2ecc71;
}

/* line 94, ../sass/variable.scss */
.text-rever-success {
  color: #FFFFFF;
  background-color: #2ecc71;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-success:hover:not([disabled]), .btn-success:focus:not([disabled]) {
  background-color: #29b866;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-success[disabled] {
  cursor: not-allowed;
  background-color: #a8ebc4;
}
/* line 111, ../sass/variable.scss */
.btn-success.btn-outer-border {
  background-color: #FFFFFF;
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

/* line 117, ../sass/variable.scss */
.tips-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-title {
  color: #333333;
}

/* line 94, ../sass/variable.scss */
.text-rever-title {
  color: #FFFFFF;
  background-color: #333333;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-title {
  background-color: #333333;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-title:hover:not([disabled]), .btn-title:focus:not([disabled]) {
  background-color: #2e2e2e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-title[disabled] {
  cursor: not-allowed;
  background-color: gray;
}
/* line 111, ../sass/variable.scss */
.btn-title.btn-outer-border {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

/* line 117, ../sass/variable.scss */
.tips-title {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-text {
  color: #666666;
}

/* line 94, ../sass/variable.scss */
.text-rever-text {
  color: #FFFFFF;
  background-color: #666666;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-text {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-text:hover:not([disabled]), .btn-text:focus:not([disabled]) {
  background-color: #5c5c5c;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-text[disabled] {
  cursor: not-allowed;
  background-color: #b3b3b3;
}
/* line 111, ../sass/variable.scss */
.btn-text.btn-outer-border {
  background-color: #FFFFFF;
  color: #666666;
  border: 1px solid #666666;
}

/* line 117, ../sass/variable.scss */
.tips-text {
  background-color: #666666;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-icon {
  color: #999999;
}

/* line 94, ../sass/variable.scss */
.text-rever-icon {
  color: #FFFFFF;
  background-color: #999999;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-icon {
  background-color: #999999;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-icon:hover:not([disabled]), .btn-icon:focus:not([disabled]) {
  background-color: #8a8a8a;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-icon[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
}
/* line 111, ../sass/variable.scss */
.btn-icon.btn-outer-border {
  background-color: #FFFFFF;
  color: #999999;
  border: 1px solid #999999;
}

/* line 117, ../sass/variable.scss */
.tips-icon {
  background-color: #999999;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-background {
  color: #f5f5f5;
}

/* line 94, ../sass/variable.scss */
.text-rever-background {
  color: #000000;
  background-color: #f5f5f5;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-background {
  background-color: #f5f5f5;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-background:hover:not([disabled]), .btn-background:focus:not([disabled]) {
  background-color: #dddddd;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-background[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-background.btn-outer-border {
  background-color: #000000;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

/* line 117, ../sass/variable.scss */
.tips-background {
  background-color: #f5f5f5;
  color: #000000;
}

/* line 91, ../sass/variable.scss */
.text-none {
  color: #FFFFFF;
}

/* line 94, ../sass/variable.scss */
.text-rever-none {
  color: #000000;
  background-color: #FFFFFF;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-none {
  background-color: #FFFFFF;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-none:hover:not([disabled]), .btn-none:focus:not([disabled]) {
  background-color: #e6e6e6;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-none[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-none.btn-outer-border {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 117, ../sass/variable.scss */
.tips-none {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 123, ../sass/variable.scss */
.iv-tips {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: none;
}
/* line 135, ../sass/variable.scss */
.iv-tips p {
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 142, ../sass/variable.scss */
.iv-tips span.iconfont {
  font-size: 32px;
  margin-right: 10px;
}
/* line 146, ../sass/variable.scss */
.iv-tips .tips-close {
  margin-left: 30px;
}

/* line 5, ../sass/form.scss */
.filter-bar > * {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}
/* line 10, ../sass/form.scss */
.filter-bar .advance-search {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 12, ../sass/form.scss */
.filter-bar .advance-search .iconfont {
  font-size: 12px;
}

/* line 18, ../sass/form.scss */
.iv-input,
.iv-textarea {
  border: 1px solid #cdced0;
  background-color: #FFFFFF;
  padding: 3px 5px;
  height: 26px;
  line-height: 20px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 28, ../sass/form.scss */
.iv-input:hover,
.iv-textarea:hover {
  border-color: #666666;
}

/* line 34, ../sass/form.scss */
.input-group.iv-input {
  padding: 0;
}
/* line 36, ../sass/form.scss */
.input-group.iv-input .iv-input {
  border: none;
  padding-left: 2px;
  padding-right: 2px;
  height: 24px;
}
/* line 44, ../sass/form.scss */
.input-group .iv-btn {
  height: 100%;
  line-height: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 51, ../sass/form.scss */
.input-group :last-child.iv-btn,
.input-group :first-child.iv-btn {
  margin-top: -1px;
  height: 26px;
}
/* line 57, ../sass/form.scss */
.input-group :last-child.iv-btn {
  float: right;
  margin-right: -1px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 64, ../sass/form.scss */
.input-group :first-child.iv-btn {
  float: left;
  margin-left: -1px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 61, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.iv-input:-moz-placeholder {
  line-height: 16px;
}
/* line 64, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.iv-input::-moz-placeholder {
  line-height: 16px;
}
/* line 67, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.iv-input:-ms-input-placeholder {
  line-height: 16px;
}
/* line 56, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.iv-input::-webkit-input-placeholder {
  line-height: 16px;
}
/* line 79, ../sass/form.scss */
.iv-input:focus {
  outline: none;
}
/* line 83, ../sass/form.scss */
.iv-input > option:hover {
  background-color: green;
}
/* line 87, ../sass/form.scss */
.iv-input > select + span {
  min-width: 100% !important;
}

/* line 92, ../sass/form.scss */
.iv-select {
  padding: 0;
}

/* line 111, ../sass/form.scss */
.iv-textarea {
  width: 100%;
  height: auto;
  line-height: 1.5em;
}

/* line 119, ../sass/form.scss */
.iv-editor {
  width: 100%;
  height: auto;
}

/* line 152, ../sass/form.scss */
.iv-form {
  width: 100%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 157, ../sass/form.scss */
.iv-form .input-area {
  background-color: #f5f5f5;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 163, ../sass/form.scss */
.iv-form .input-validate {
  padding: 0 10px;
}
/* line 167, ../sass/form.scss */
.iv-form label.row i {
  color: #f00;
  margin-left: 3px;
}
/* line 173, ../sass/form.scss */
.iv-form .add-column,
.iv-form .add-column a {
  font-size: 14px;
}
/* line 188, ../sass/form.scss */
.iv-form.form-base .form-group .input-group .input-group-addon, .iv-form.form-base .form-group .input-group .input-group-addon:first-child, .iv-form.form-base .form-group .input-group .input-group-addon:last-child {
  background-color: inherit;
  border: 0;
  font-size: inherit;
  color: inherit;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 197, ../sass/form.scss */
.iv-form.form-base .form-group .input-group .input-group-addon:first-child {
  padding-left: 0;
}
/* line 200, ../sass/form.scss */
.iv-form.form-base .form-group .input-group .input-group-addon:last-child {
  padding-right: 0;
}
/* line 204, ../sass/form.scss */
.iv-form.form-base .form-group .input-group .iv-input {
  display: table-cell;
  width: 100%;
}
/* line 188, ../sass/form.scss */
.iv-form.form-horizontal .form-group .input-group .input-group-addon, .iv-form.form-horizontal .form-group .input-group .input-group-addon:first-child, .iv-form.form-horizontal .form-group .input-group .input-group-addon:last-child {
  background-color: inherit;
  border: 0;
  font-size: inherit;
  color: inherit;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 197, ../sass/form.scss */
.iv-form.form-horizontal .form-group .input-group .input-group-addon:first-child {
  padding-left: 0;
}
/* line 200, ../sass/form.scss */
.iv-form.form-horizontal .form-group .input-group .input-group-addon:last-child {
  padding-right: 0;
}
/* line 204, ../sass/form.scss */
.iv-form.form-horizontal .form-group .input-group .iv-input {
  display: table-cell;
  width: 100%;
}
/* line 188, ../sass/form.scss */
.iv-form.form-inline .form-group .input-group .input-group-addon, .iv-form.form-inline .form-group .input-group .input-group-addon:first-child, .iv-form.form-inline .form-group .input-group .input-group-addon:last-child {
  background-color: inherit;
  border: 0;
  font-size: inherit;
  color: inherit;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 197, ../sass/form.scss */
.iv-form.form-inline .form-group .input-group .input-group-addon:first-child {
  padding-left: 0;
}
/* line 200, ../sass/form.scss */
.iv-form.form-inline .form-group .input-group .input-group-addon:last-child {
  padding-right: 0;
}
/* line 204, ../sass/form.scss */
.iv-form.form-inline .form-group .input-group .iv-input {
  display: table-cell;
  width: 100%;
}
/* line 214, ../sass/form.scss */
.iv-form.form-base > .form-group {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: space-between;
}
/* line 219, ../sass/form.scss */
.iv-form.form-base > .form-group > .row {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 223, ../sass/form.scss */
.iv-form.form-base > .form-group > .row > .input-control {
  -webkit-flex: 0 0 580px;
  flex: 0 0 580px;
}
/* line 225, ../sass/form.scss */
.iv-form.form-base > .form-group > .row > .input-control .input-group,
.iv-form.form-base > .form-group > .row > .input-control > .iv-input,
.iv-form.form-base > .form-group > .row > .input-control > .iv-select {
  width: 330px;
}
/* line 230, ../sass/form.scss */
.iv-form.form-base > .form-group > .row > .input-control .text-help {
  float: right;
  line-height: 26px;
}
/* line 240, ../sass/form.scss */
.iv-form.form-horizontal > .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-left: 0;
  margin-right: 0;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 15px;
}
/* line 247, ../sass/form.scss */
.iv-form.form-horizontal > .form-group > label.row {
  flex: 0 0 80px;
}
/* line 250, ../sass/form.scss */
.iv-form.form-horizontal > .form-group > div.row {
  display: -webkit-flex;
  display: flex;
}
/* line 254, ../sass/form.scss */
.iv-form.form-horizontal > .form-group > .row {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-align-items: center;
  align-items: center;
}
/* line 258, ../sass/form.scss */
.iv-form.form-horizontal > .form-group > .row .input-group,
.iv-form.form-horizontal > .form-group > .row > .iv-input {
  width: 150px;
}

/* line 270, ../sass/form.scss */
.form-action {
  text-align: center;
}
/* line 275, ../sass/form.scss */
.form-action .iv-btn {
  font-size: 14px;
  width: 20%;
  margin: 0 5px;
}

/* line 284, ../sass/form.scss */
.anchor-list {
  position: fixed;
  top: 150px;
  right: 80px;
  background-color: #fff;
  z-index: 1;
}
/* line 290, ../sass/form.scss */
.anchor-list li {
  border-left: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  height: 4em;
  position: relative;
  line-height: 16px;
}
/* line 297, ../sass/form.scss */
.anchor-list li:last-child {
  border-left: none;
}
/* line 300, ../sass/form.scss */
.anchor-list li a {
  position: absolute;
  left: 0;
  display: list-item;
  list-style-type: disc;
  top: -1em;
  margin-left: 11px;
}
/* line 307, ../sass/form.scss */
.anchor-list li a .iconfont {
  position: absolute;
  left: -20px;
  background-color: #ffffff;
}

/* line 318, ../sass/form.scss */
.iv-upload {
  width: 80px;
  height: 100px;
  float: left;
  margin-left: 4px;
  margin-right: 4px;
}
/* line 324, ../sass/form.scss */
.iv-upload .view,
.iv-upload .choose {
  width: 80px;
  height: 80px;
  position: relative;
}
/* line 330, ../sass/form.scss */
.iv-upload .view {
  border: 1px solid transparent;
  background-position: center;
  background-size: cover;
  display: none;
}
/* line 337, ../sass/form.scss */
.iv-upload .view:hover .remove,
.iv-upload .view:hover .icon-shanchu {
  display: block;
}
/* line 342, ../sass/form.scss */
.iv-upload .view .remove {
  display: none;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 353, ../sass/form.scss */
.iv-upload .view .icon-shanchu {
  display: none;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/* line 365, ../sass/form.scss */
.iv-upload .choose {
  border: 1px dashed #ccc;
  background-color: #fff;
}
/* line 368, ../sass/form.scss */
.iv-upload .choose:hover {
  border-color: red;
  border-weight: 2px;
}
/* line 372, ../sass/form.scss */
.iv-upload .choose .placeholder {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #999999;
  text-align: center;
}
/* line 381, ../sass/form.scss */
.iv-upload .choose .placeholder p {
  margin: 20px auto 10px;
}
/* line 384, ../sass/form.scss */
.iv-upload .choose .placeholder .iconfont {
  font-size: 20px;
}
/* line 389, ../sass/form.scss */
.iv-upload p.src {
  line-height: 20px;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-align: right;
}
/* line 396, ../sass/form.scss */
.iv-upload input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 410, ../sass/form.scss */
*[iv-template] {
  display: none;
}

/* line 415, ../sass/form.scss */
.iv-image-body {
  margin: 10px 0;
}
/* line 417, ../sass/form.scss */
.iv-image-body .iv-image-box {
  width: 120px;
  height: 170px;
  border: 2px dashed transparent;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
}
/* line 424, ../sass/form.scss */
.iv-image-body .iv-image-box.ui-sortable-helper {
  border-color: red;
}
/* line 427, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header,
.iv-image-body .iv-image-box .iv-image-box-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 433, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header {
  height: 16px;
  line-height: 16px;
  padding: 0;
}
/* line 437, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header input[type="checkbox"] {
  margin-left: 0;
}
/* line 441, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header .primary input {
  display: none;
}
/* line 443, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header .primary input:checked + span + a {
  display: none;
}
/* line 446, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header .primary input:checked + span {
  display: inline;
}
/* line 449, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-header .primary input + span {
  display: none;
}
/* line 455, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body {
  position: relative;
  overflow: hidden;
  margin-top: 2px;
  width: 100%;
  height: 120px;
}
/* line 461, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body img {
  width: 100%;
  height: 100%;
}
/* line 465, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover,
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 474, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  background-color: #111;
}
/* line 478, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 {
  color: white;
  word-wrap: break-word;
  height: 110px;
  padding: 5px;
}
/* line 483, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 .copy-url {
  margin-bottom: 5px;
}
/* line 486, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 .cover-close {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 491, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 .cover-close, .iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 .cover-close:hover {
  color: white;
}
/* line 496, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-body .iv-image-box-cover2 p {
  height: 90px;
  overflow: hidden;
}
/* line 502, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-footer {
  height: 22px;
  margin-top: 4px;
}
/* line 505, ../sass/form.scss */
.iv-image-body .iv-image-box .iv-image-box-footer .iconfont {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #ccc;
  color: #fff;
  font-size: 16px;
}

/* line 519, ../sass/form.scss */
.iv-select-img-lib {
  width: 840px;
  padding: 15px;
}
/* line 523, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ededed;
}
/* line 527, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header .iv-select-img-lib-search {
  width: 370px;
  padding-right: 10px;
}
/* line 530, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header .iv-select-img-lib-search .iv-input {
  margin-bottom: 15px;
}
/* line 534, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header .iv-select-img-lib-info {
  background-color: #f3f3f3;
  width: 440px;
  height: 70px;
}
/* line 538, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header .iv-select-img-lib-info table {
  float: left;
}
/* line 540, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header .iv-select-img-lib-info table td {
  line-height: 35px;
  font-size: 16px;
  width: 170px;
  padding: 0 15px;
}
/* line 547, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-header .iv-select-img-lib-info .iv-select-img-lib-add-storage {
  width: 100px;
  height: 100%;
  line-height: 70px;
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: #fb9928;
}
/* line 560, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item {
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 120px;
  height: 170px;
}
/* line 566, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-header {
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: #a0a0a0;
  margin-bottom: 3px;
}
/* line 573, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-header p {
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
  line-height: 20px;
}
/* line 580, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body {
  margin-bottom: 3px;
  position: relative;
  overflow: hidden;
}
/* line 584, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body input {
  position: absolute;
  top: 2px;
  left: 0px;
}
/* line 589, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body img {
  width: 120px;
  height: 120px;
}
/* line 593, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body .iv-select-item-cover {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  color: white;
  word-wrap: break-word;
  height: 120px;
  padding: 5px;
}
/* line 604, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body .iv-select-item-cover .copy-url {
  margin-bottom: 5px;
}
/* line 607, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body .iv-select-item-cover .cover-close {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 612, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body .iv-select-item-cover .cover-close, .iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body .iv-select-item-cover .cover-close:hover {
  color: white;
}
/* line 617, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-body .iv-select-item-cover p {
  height: 90px;
  overflow: hidden;
}
/* line 623, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  height: 22px;
}
/* line 628, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .iv-select-img-lib-item .iv-select-item-footer .iconfont {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #a0a0a0;
  color: #fff;
  font-size: 16px;
}
/* line 639, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-body .ajax-page-bar {
  width: 100%;
  text-align: center;
}
/* line 644, ../sass/form.scss */
.iv-select-img-lib .iv-select-img-lib-footer {
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=form.css.map */
