/* line 91, ../sass/variable.scss */
.text-warn {
  color: #ff0033;
}

/* line 94, ../sass/variable.scss */
.text-rever-warn {
  color: #FFFFFF;
  background-color: #ff0033;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-warn:hover:not([disabled]), .btn-warn:focus:not([disabled]) {
  background-color: #e6002e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-warn[disabled] {
  cursor: not-allowed;
  background-color: #ff99ad;
}
/* line 111, ../sass/variable.scss */
.btn-warn.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff0033;
  border: 1px solid #ff0033;
}

/* line 117, ../sass/variable.scss */
.tips-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-remind {
  color: #FFFBE1;
}

/* line 94, ../sass/variable.scss */
.text-rever-remind {
  color: #8a6d3b;
  background-color: #FFFBE1;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}
/* line 102, ../sass/variable.scss */
.btn-remind:hover:not([disabled]), .btn-remind:focus:not([disabled]) {
  background-color: #e6e2cb;
  color: #8a6d3b;
}
/* line 107, ../sass/variable.scss */
.btn-remind[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-remind.btn-outer-border {
  background-color: #8a6d3b;
  color: #FFFBE1;
  border: 1px solid #FFFBE1;
}

/* line 117, ../sass/variable.scss */
.tips-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}

/* line 91, ../sass/variable.scss */
.text-active {
  color: #01bdf0;
}

/* line 94, ../sass/variable.scss */
.text-rever-active {
  color: #FFFFFF;
  background-color: #01bdf0;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-active:hover:not([disabled]), .btn-active:focus:not([disabled]) {
  background-color: #01aad8;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-active[disabled] {
  cursor: not-allowed;
  background-color: #8be6ff;
}
/* line 111, ../sass/variable.scss */
.btn-active.btn-outer-border {
  background-color: #FFFFFF;
  color: #01bdf0;
  border: 1px solid #01bdf0;
}

/* line 117, ../sass/variable.scss */
.tips-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-important {
  color: #ff9900;
}

/* line 94, ../sass/variable.scss */
.text-rever-important {
  color: #FFFFFF;
  background-color: #ff9900;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-important {
  background-color: #ff9900;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-important:hover:not([disabled]), .btn-important:focus:not([disabled]) {
  background-color: #e68a00;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-important[disabled] {
  cursor: not-allowed;
  background-color: #ffd699;
}
/* line 111, ../sass/variable.scss */
.btn-important.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* line 117, ../sass/variable.scss */
.tips-important {
  background-color: #ff9900;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-success {
  color: #2ecc71;
}

/* line 94, ../sass/variable.scss */
.text-rever-success {
  color: #FFFFFF;
  background-color: #2ecc71;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-success:hover:not([disabled]), .btn-success:focus:not([disabled]) {
  background-color: #29b866;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-success[disabled] {
  cursor: not-allowed;
  background-color: #a8ebc4;
}
/* line 111, ../sass/variable.scss */
.btn-success.btn-outer-border {
  background-color: #FFFFFF;
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

/* line 117, ../sass/variable.scss */
.tips-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-title {
  color: #333333;
}

/* line 94, ../sass/variable.scss */
.text-rever-title {
  color: #FFFFFF;
  background-color: #333333;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-title {
  background-color: #333333;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-title:hover:not([disabled]), .btn-title:focus:not([disabled]) {
  background-color: #2e2e2e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-title[disabled] {
  cursor: not-allowed;
  background-color: gray;
}
/* line 111, ../sass/variable.scss */
.btn-title.btn-outer-border {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

/* line 117, ../sass/variable.scss */
.tips-title {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-text {
  color: #666666;
}

/* line 94, ../sass/variable.scss */
.text-rever-text {
  color: #FFFFFF;
  background-color: #666666;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-text {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-text:hover:not([disabled]), .btn-text:focus:not([disabled]) {
  background-color: #5c5c5c;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-text[disabled] {
  cursor: not-allowed;
  background-color: #b3b3b3;
}
/* line 111, ../sass/variable.scss */
.btn-text.btn-outer-border {
  background-color: #FFFFFF;
  color: #666666;
  border: 1px solid #666666;
}

/* line 117, ../sass/variable.scss */
.tips-text {
  background-color: #666666;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-icon {
  color: #999999;
}

/* line 94, ../sass/variable.scss */
.text-rever-icon {
  color: #FFFFFF;
  background-color: #999999;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-icon {
  background-color: #999999;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-icon:hover:not([disabled]), .btn-icon:focus:not([disabled]) {
  background-color: #8a8a8a;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-icon[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
}
/* line 111, ../sass/variable.scss */
.btn-icon.btn-outer-border {
  background-color: #FFFFFF;
  color: #999999;
  border: 1px solid #999999;
}

/* line 117, ../sass/variable.scss */
.tips-icon {
  background-color: #999999;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-background {
  color: #f5f5f5;
}

/* line 94, ../sass/variable.scss */
.text-rever-background {
  color: #000000;
  background-color: #f5f5f5;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-background {
  background-color: #f5f5f5;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-background:hover:not([disabled]), .btn-background:focus:not([disabled]) {
  background-color: #dddddd;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-background[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-background.btn-outer-border {
  background-color: #000000;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

/* line 117, ../sass/variable.scss */
.tips-background {
  background-color: #f5f5f5;
  color: #000000;
}

/* line 91, ../sass/variable.scss */
.text-none {
  color: #FFFFFF;
}

/* line 94, ../sass/variable.scss */
.text-rever-none {
  color: #000000;
  background-color: #FFFFFF;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-none {
  background-color: #FFFFFF;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-none:hover:not([disabled]), .btn-none:focus:not([disabled]) {
  background-color: #e6e6e6;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-none[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-none.btn-outer-border {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 117, ../sass/variable.scss */
.tips-none {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 123, ../sass/variable.scss */
.iv-tips {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: none;
}
/* line 135, ../sass/variable.scss */
.iv-tips p {
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 142, ../sass/variable.scss */
.iv-tips span.iconfont {
  font-size: 32px;
  margin-right: 10px;
}
/* line 146, ../sass/variable.scss */
.iv-tips .tips-close {
  margin-left: 30px;
}

/* line 4, ../sass/modal.scss */
.state-ready {
  position: fixed;
  display: none;
}

/* line 9, ../sass/modal.scss */
#over-lay {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}
/* line 19, ../sass/modal.scss */
#over-lay .modal-box {
  background-color: #fff;
  min-width: 600px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
/* line 25, ../sass/modal.scss */
#over-lay .modal-main {
  overflow-y: auto;
}
/* line 29, ../sass/modal.scss */
#over-lay .over-lay-modal {
  margin: 20px auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
/* line 36, ../sass/modal.scss */
#over-lay .modal-title {
  line-height: 30px;
}
/* line 41, ../sass/modal.scss */
#over-lay .inside-modal {
  min-width: 600px;
  max-height: 85%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

/* line 54, ../sass/modal.scss */
#over-lay .modal-title,
.iv-modal .modal-title {
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background-color: #374655;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 61, ../sass/modal.scss */
#over-lay .modal-body,
.iv-modal .modal-body {
  padding: 15px;
}
/* line 64, ../sass/modal.scss */
#over-lay .modal-footer,
.iv-modal .modal-footer {
  border: none;
  margin: 0px auto;
  text-align: center;
}
/* line 68, ../sass/modal.scss */
#over-lay .modal-footer .iv-btn,
.iv-modal .modal-footer .iv-btn {
  margin: 0 5px;
}

/* line 76, ../sass/modal.scss */
.modal-alert .modal-body {
  height: 220px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 81, ../sass/modal.scss */
.modal-alert .modal-body .iconfont {
  font-size: 48px;
  margin-right: 15px;
}
/* line 84, ../sass/modal.scss */
.modal-alert .modal-body .iconfont.icon-jinggao {
  color: #ff9900;
}
/* line 87, ../sass/modal.scss */
.modal-alert .modal-body .iconfont.icon-shibai {
  color: #ff0033;
}
/* line 90, ../sass/modal.scss */
.modal-alert .modal-body .iconfont.icon-chenggong {
  color: #2ecc71;
}
/* line 94, ../sass/modal.scss */
.modal-alert .modal-body .alert-title {
  font-size: 20px;
}

/* line 105, ../sass/modal.scss */
.iv-modal {
  position: fixed;
  z-index: 1001;
  background-color: #ffffff;
  min-width: 400px;
  max-width: 1000px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 115, ../sass/modal.scss */
.iv-modal .modal-action {
  position: absolute;
  right: 3px;
  top: 8px;
}
/* line 119, ../sass/modal.scss */
.iv-modal .modal-action .iconfont {
  cursor: pointer;
  margin-right: 3px;
  color: #ffffff;
  font-size: 14px;
}
/* line 127, ../sass/modal.scss */
.iv-modal .modal-content {
  min-height: 100px;
  max-height: 660px;
  overflow-y: auto;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding: 15px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 137, ../sass/modal.scss */
.iv-modal .modal-body {
  padding: 0;
  margin: 0;
}
/* line 143, ../sass/modal.scss */
.iv-modal .modal-footer .iv-btn {
  margin: 0px 5px;
}

/* line 151, ../sass/modal.scss */
*[role="modal"] {
  display: none;
}

/* line 155, ../sass/modal.scss */
.fixed-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 168, ../sass/modal.scss */
.iv-tooltip {
  position: absolute;
  max-width: 450px;
  color: #111;
  font-weight: normal;
  border: 1px solid #ccc;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 181, ../sass/modal.scss */
.iv-tooltip::before, .iv-tooltip::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
}
/* line 190, ../sass/modal.scss */
.iv-tooltip::after {
  z-index: -1;
}
/* line 195, ../sass/modal.scss */
.iv-tooltip.tooltip-nw {
  margin-top: 5px;
}
/* line 197, ../sass/modal.scss */
.iv-tooltip.tooltip-nw::before, .iv-tooltip.tooltip-nw::after {
  left: 10px;
}
/* line 201, ../sass/modal.scss */
.iv-tooltip.tooltip-nw::before {
  border-bottom-color: white;
  top: -10px;
}
/* line 205, ../sass/modal.scss */
.iv-tooltip.tooltip-nw::after {
  border-bottom-color: #ccc;
  top: -11px;
}
/* line 212, ../sass/modal.scss */
.iv-tooltip.tooltip-nc, .iv-tooltip.tooltip-cc {
  margin-top: 5px;
}
/* line 215, ../sass/modal.scss */
.iv-tooltip.tooltip-nc::before, .iv-tooltip.tooltip-nc::after, .iv-tooltip.tooltip-cc::before, .iv-tooltip.tooltip-cc::after {
  left: calc(50% - 5px);
}
/* line 219, ../sass/modal.scss */
.iv-tooltip.tooltip-nc::before, .iv-tooltip.tooltip-cc::before {
  border-bottom-color: white;
  top: -10px;
}
/* line 223, ../sass/modal.scss */
.iv-tooltip.tooltip-nc::after, .iv-tooltip.tooltip-cc::after {
  border-bottom-color: #ccc;
  top: -11px;
}
/* line 229, ../sass/modal.scss */
.iv-tooltip.tooltip-ne {
  margin-top: 5px;
}
/* line 231, ../sass/modal.scss */
.iv-tooltip.tooltip-ne::before, .iv-tooltip.tooltip-ne::after {
  right: 10px;
}
/* line 235, ../sass/modal.scss */
.iv-tooltip.tooltip-ne::before {
  border-bottom-color: white;
  top: -10px;
}
/* line 239, ../sass/modal.scss */
.iv-tooltip.tooltip-ne::after {
  border-bottom-color: #ccc;
  top: -11px;
}
/* line 245, ../sass/modal.scss */
.iv-tooltip.tooltip-cw {
  margin-left: 5px;
}
/* line 247, ../sass/modal.scss */
.iv-tooltip.tooltip-cw::before, .iv-tooltip.tooltip-cw::after {
  top: calc(50% - 5px);
}
/* line 251, ../sass/modal.scss */
.iv-tooltip.tooltip-cw::before {
  border-right-color: white;
  left: -10px;
}
/* line 255, ../sass/modal.scss */
.iv-tooltip.tooltip-cw::after {
  border-right-color: #ccc;
  left: -11px;
}
/* line 261, ../sass/modal.scss */
.iv-tooltip.tooltip-ce {
  margin-right: 5px;
}
/* line 263, ../sass/modal.scss */
.iv-tooltip.tooltip-ce::before, .iv-tooltip.tooltip-ce::after {
  top: calc(50% - 5px);
}
/* line 267, ../sass/modal.scss */
.iv-tooltip.tooltip-ce::before {
  border-left-color: white;
  right: -10px;
}
/* line 271, ../sass/modal.scss */
.iv-tooltip.tooltip-ce::after {
  border-left-color: #ccc;
  right: -11px;
}
/* line 277, ../sass/modal.scss */
.iv-tooltip.tooltip-sw {
  margin-bottom: 5px;
}
/* line 279, ../sass/modal.scss */
.iv-tooltip.tooltip-sw::before, .iv-tooltip.tooltip-sw::after {
  left: 10px;
}
/* line 283, ../sass/modal.scss */
.iv-tooltip.tooltip-sw::before {
  border-top-color: white;
  bottom: -10px;
  left: 10px;
}
/* line 288, ../sass/modal.scss */
.iv-tooltip.tooltip-sw::after {
  border-top-color: #ccc;
  bottom: -11px;
}
/* line 294, ../sass/modal.scss */
.iv-tooltip.tooltip-sc {
  margin-bottom: 5px;
}
/* line 296, ../sass/modal.scss */
.iv-tooltip.tooltip-sc::before, .iv-tooltip.tooltip-sc::after {
  left: calc(50% - 5px);
}
/* line 300, ../sass/modal.scss */
.iv-tooltip.tooltip-sc::before {
  border-top-color: white;
  bottom: -10px;
}
/* line 304, ../sass/modal.scss */
.iv-tooltip.tooltip-sc::after {
  border-top-color: #ccc;
  bottom: -11px;
}
/* line 310, ../sass/modal.scss */
.iv-tooltip.tooltip-se {
  margin-bottom: 5px;
}
/* line 312, ../sass/modal.scss */
.iv-tooltip.tooltip-se::before, .iv-tooltip.tooltip-se::after {
  right: 10px;
}
/* line 316, ../sass/modal.scss */
.iv-tooltip.tooltip-se::before {
  border-top-color: white;
  bottom: -10px;
}
/* line 320, ../sass/modal.scss */
.iv-tooltip.tooltip-se::after {
  border-top-color: #ccc;
  bottom: -11px;
}

/*# sourceMappingURL=modal.css.map */
