@charset "UTF-8";
/* line 4, ../sass/mixins/flex.scss */
.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 6, ../sass/mixins/flex.scss */
.flex-row.center {
  -webkit-align-items: center;
  align-items: center;
}

/* line 11, ../sass/mixins/flex.scss */
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 13, ../sass/mixins/flex.scss */
.flex-column.middle {
  -webkit-align-items: center;
  align-items: center;
}

/* line 17, ../sass/mixins/flex.scss */
.flex,
.flex-row,
.flex-column {
  display: -webkit-flex;
  display: flex;
}

/* line 22, ../sass/mixins/flex.scss */
.space-between {
  -webkit-flex-wrap: warp;
  flex-wrap: warp;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 28, ../sass/mixins/flex.scss */
.flex-0 {
  flex: 0;
}

/* line 31, ../sass/mixins/flex.scss */
.flex-1 {
  flex: 1;
}

/* line 34, ../sass/mixins/flex.scss */
.flex-2 {
  flex: 2;
}

/* line 91, ../sass/variable.scss */
.text-warn {
  color: #ff0033;
}

/* line 94, ../sass/variable.scss */
.text-rever-warn {
  color: #FFFFFF;
  background-color: #ff0033;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-warn:hover:not([disabled]), .btn-warn:focus:not([disabled]) {
  background-color: #e6002e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-warn[disabled] {
  cursor: not-allowed;
  background-color: #ff99ad;
}
/* line 111, ../sass/variable.scss */
.btn-warn.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff0033;
  border: 1px solid #ff0033;
}

/* line 117, ../sass/variable.scss */
.tips-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-remind {
  color: #FFFBE1;
}

/* line 94, ../sass/variable.scss */
.text-rever-remind {
  color: #8a6d3b;
  background-color: #FFFBE1;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}
/* line 102, ../sass/variable.scss */
.btn-remind:hover:not([disabled]), .btn-remind:focus:not([disabled]) {
  background-color: #e6e2cb;
  color: #8a6d3b;
}
/* line 107, ../sass/variable.scss */
.btn-remind[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-remind.btn-outer-border {
  background-color: #8a6d3b;
  color: #FFFBE1;
  border: 1px solid #FFFBE1;
}

/* line 117, ../sass/variable.scss */
.tips-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}

/* line 91, ../sass/variable.scss */
.text-active {
  color: #01bdf0;
}

/* line 94, ../sass/variable.scss */
.text-rever-active {
  color: #FFFFFF;
  background-color: #01bdf0;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-active:hover:not([disabled]), .btn-active:focus:not([disabled]) {
  background-color: #01aad8;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-active[disabled] {
  cursor: not-allowed;
  background-color: #8be6ff;
}
/* line 111, ../sass/variable.scss */
.btn-active.btn-outer-border {
  background-color: #FFFFFF;
  color: #01bdf0;
  border: 1px solid #01bdf0;
}

/* line 117, ../sass/variable.scss */
.tips-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-important {
  color: #ff9900;
}

/* line 94, ../sass/variable.scss */
.text-rever-important {
  color: #FFFFFF;
  background-color: #ff9900;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-important {
  background-color: #ff9900;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-important:hover:not([disabled]), .btn-important:focus:not([disabled]) {
  background-color: #e68a00;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-important[disabled] {
  cursor: not-allowed;
  background-color: #ffd699;
}
/* line 111, ../sass/variable.scss */
.btn-important.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* line 117, ../sass/variable.scss */
.tips-important {
  background-color: #ff9900;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-success {
  color: #2ecc71;
}

/* line 94, ../sass/variable.scss */
.text-rever-success {
  color: #FFFFFF;
  background-color: #2ecc71;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-success:hover:not([disabled]), .btn-success:focus:not([disabled]) {
  background-color: #29b866;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-success[disabled] {
  cursor: not-allowed;
  background-color: #a8ebc4;
}
/* line 111, ../sass/variable.scss */
.btn-success.btn-outer-border {
  background-color: #FFFFFF;
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

/* line 117, ../sass/variable.scss */
.tips-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-title {
  color: #333333;
}

/* line 94, ../sass/variable.scss */
.text-rever-title {
  color: #FFFFFF;
  background-color: #333333;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-title {
  background-color: #333333;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-title:hover:not([disabled]), .btn-title:focus:not([disabled]) {
  background-color: #2e2e2e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-title[disabled] {
  cursor: not-allowed;
  background-color: gray;
}
/* line 111, ../sass/variable.scss */
.btn-title.btn-outer-border {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

/* line 117, ../sass/variable.scss */
.tips-title {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-text {
  color: #666666;
}

/* line 94, ../sass/variable.scss */
.text-rever-text {
  color: #FFFFFF;
  background-color: #666666;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-text {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-text:hover:not([disabled]), .btn-text:focus:not([disabled]) {
  background-color: #5c5c5c;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-text[disabled] {
  cursor: not-allowed;
  background-color: #b3b3b3;
}
/* line 111, ../sass/variable.scss */
.btn-text.btn-outer-border {
  background-color: #FFFFFF;
  color: #666666;
  border: 1px solid #666666;
}

/* line 117, ../sass/variable.scss */
.tips-text {
  background-color: #666666;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-icon {
  color: #999999;
}

/* line 94, ../sass/variable.scss */
.text-rever-icon {
  color: #FFFFFF;
  background-color: #999999;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-icon {
  background-color: #999999;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-icon:hover:not([disabled]), .btn-icon:focus:not([disabled]) {
  background-color: #8a8a8a;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-icon[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
}
/* line 111, ../sass/variable.scss */
.btn-icon.btn-outer-border {
  background-color: #FFFFFF;
  color: #999999;
  border: 1px solid #999999;
}

/* line 117, ../sass/variable.scss */
.tips-icon {
  background-color: #999999;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-background {
  color: #f5f5f5;
}

/* line 94, ../sass/variable.scss */
.text-rever-background {
  color: #000000;
  background-color: #f5f5f5;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-background {
  background-color: #f5f5f5;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-background:hover:not([disabled]), .btn-background:focus:not([disabled]) {
  background-color: #dddddd;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-background[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-background.btn-outer-border {
  background-color: #000000;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

/* line 117, ../sass/variable.scss */
.tips-background {
  background-color: #f5f5f5;
  color: #000000;
}

/* line 91, ../sass/variable.scss */
.text-none {
  color: #FFFFFF;
}

/* line 94, ../sass/variable.scss */
.text-rever-none {
  color: #000000;
  background-color: #FFFFFF;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-none {
  background-color: #FFFFFF;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-none:hover:not([disabled]), .btn-none:focus:not([disabled]) {
  background-color: #e6e6e6;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-none[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-none.btn-outer-border {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 117, ../sass/variable.scss */
.tips-none {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 123, ../sass/variable.scss */
.iv-tips {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: none;
}
/* line 135, ../sass/variable.scss */
.iv-tips p {
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 142, ../sass/variable.scss */
.iv-tips span.iconfont {
  font-size: 32px;
  margin-right: 10px;
}
/* line 146, ../sass/variable.scss */
.iv-tips .tips-close {
  margin-left: 30px;
}

/* line 9, ../sass/nav.scss */
ul.top_nav li a {
  color: #fff;
}
/* line 12, ../sass/nav.scss */
ul.top_nav li.active, ul.top_nav li:hover {
  background-color: #5f6b77;
}
/* line 16, ../sass/nav.scss */
ul.top_nav li.active a, ul.top_nav li:hover a {
  color: #ffc70e;
}

/* line 26, ../sass/nav.scss */
ul.top_nav_right li a {
  color: #fff;
  display: block;
}
/* line 30, ../sass/nav.scss */
ul.top_nav_right li.active, ul.top_nav_right li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 34, ../sass/nav.scss */
ul.top_nav_right li.active a, ul.top_nav_right li:hover a {
  color: #ffc70e;
}

/* line 41, ../sass/nav.scss */
nav {
  -webkit-flex: 0 0 50px;
  flex: 0 0 50px;
}
/* line 43, ../sass/nav.scss */
nav * {
  background-color: inherit;
}
/* line 47, ../sass/nav.scss */
nav.top_nav {
  height: 50px;
  line-height: 50px;
  background-color: #374655;
}
/* line 48, ../sass/nav.scss */
nav.top_nav,
nav.top_nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
/* line 57, ../sass/nav.scss */
nav.top_nav .logo {
  margin-right: 38px;
}
/* line 58, ../sass/nav.scss */
nav.top_nav .logo a {
  margin: 0 8px;
}
/* line 63, ../sass/nav.scss */
nav.top_nav li.top_nav_menu {
  margin-right: 12px;
}
/* line 65, ../sass/nav.scss */
nav.top_nav li.top_nav_menu a {
  display: block;
}
/* line 67, ../sass/nav.scss */
nav.top_nav li.top_nav_menu a.main-link {
  padding: 0 10px;
}
/* line 70, ../sass/nav.scss */
nav.top_nav li.top_nav_menu a:hover, nav.top_nav li.top_nav_menu a.active {
  color: #ffc70e;
}
/* line 77, ../sass/nav.scss */
nav.top_nav .select li {
  width: 120px;
  line-height: 26px;
}
/* line 79, ../sass/nav.scss */
nav.top_nav .select li a {
  font-size: 12px;
  color: #fff;
}
/* line 84, ../sass/nav.scss */
nav.top_nav .select li:hover, nav.top_nav .select li.active {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 89, ../sass/nav.scss */
nav.top_nav .item-right {
  margin-right: 10px;
  height: 50px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
/* line 94, ../sass/nav.scss */
nav.top_nav .item-right,
nav.top_nav .item-right a {
  font-size: 12px;
}
/* line 100, ../sass/nav.scss */
nav.top_nav .user_profile img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 108, ../sass/nav.scss */
nav.top_nav .user_profile > li {
  margin-right: 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
}
/* line 112, ../sass/nav.scss */
nav.top_nav .user_profile > li .vip {
  background: url(../../images/vip_icon.png);
  color: #00f;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: -4px;
  width: 20px;
  height: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 123, ../sass/nav.scss */
nav.top_nav .user_profile > li a {
  font-family: '宋体';
}
/* line 126, ../sass/nav.scss */
nav.top_nav .user_profile > li a:hover {
  color: #ffc70e;
}

/* line 138, ../sass/nav.scss */
.left_menu {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 154px;
  padding: 5px 0;
}
/* line 142, ../sass/nav.scss */
.left_menu dt,
.left_menu dd {
  line-height: 38px;
}
/* line 146, ../sass/nav.scss */
.left_menu dt {
  font-size: 14px;
  font-weight: bold;
}
/* line 149, ../sass/nav.scss */
.left_menu dt,
.left_menu dt a {
  color: #333333;
}
/* line 153, ../sass/nav.scss */
.left_menu dt a {
  -webkit-flex: 1;
  flex: 1;
  margin-left: 6px;
}
/* line 157, ../sass/nav.scss */
.left_menu dt .iconfont {
  -webkit-flex: 0 0 16px;
  flex: 0 0 16px;
}
/* line 161, ../sass/nav.scss */
.left_menu dt,
.left_menu dd,
.left_menu li {
  padding: 0 8px 0 30px;
  position: relative;
}
/* line 168, ../sass/nav.scss */
.left_menu dt .iconfont,
.left_menu dd .iconfont,
.left_menu li .iconfont {
  margin-left: -22px;
}
/* line 171, ../sass/nav.scss */
.left_menu dt .cert.down.cert-default,
.left_menu dd .cert.down.cert-default,
.left_menu li .cert.down.cert-default {
  border-top-color: #e0e0e0;
}
/* line 174, ../sass/nav.scss */
.left_menu dt a,
.left_menu dd a,
.left_menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 179, ../sass/nav.scss */
.left_menu dt .cert-large,
.left_menu dd .cert-large,
.left_menu li .cert-large {
  position: absolute;
  top: 11px;
  right: -4px;
}
/* line 184, ../sass/nav.scss */
.left_menu dt span.new,
.left_menu dd span.new,
.left_menu li span.new {
  line-height: inherit;
  margin-right: 10px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 189, ../sass/nav.scss */
.left_menu dt span.new p,
.left_menu dd span.new p,
.left_menu li span.new p {
  background-color: #e0e0e0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  margin-left: 5px;
  height: 16px;
  line-height: 16px;
  background-color: #fff;
  color: #01bdf0;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 208, ../sass/nav.scss */
.left_menu li a {
  margin-left: 15px;
  display: list-item;
  list-style-type: disc;
}

/* line 220, ../sass/nav.scss */
.left_menu dt:hover:not(.active),
.left_menu dd:hover:not(.active),
.left_menu li:hover:not(.active),
.left_menu_2 li:hover:not(.active) {
  background-color: rgba(1, 189, 240, 0.1);
}
/* line 223, ../sass/nav.scss */
.left_menu dt.active,
.left_menu dd.active,
.left_menu li.active,
.left_menu_2 li.active {
  background-color: #01bdf0;
}
/* line 225, ../sass/nav.scss */
.left_menu dt.active,
.left_menu dt.active a,
.left_menu dd.active,
.left_menu dd.active a,
.left_menu li.active,
.left_menu li.active a,
.left_menu_2 li.active,
.left_menu_2 li.active a {
  color: white;
}
/* line 229, ../sass/nav.scss */
.left_menu dt.active span.new,
.left_menu dd.active span.new,
.left_menu li.active span.new,
.left_menu_2 li.active span.new {
  background-color: #fff;
  color: #01bdf0;
}
/* line 234, ../sass/nav.scss */
.left_menu dt span.new,
.left_menu dd span.new,
.left_menu li span.new,
.left_menu_2 li span.new {
  min-width: 18px;
}

/* line 239, ../sass/nav.scss */
.left_menu_2 {
  width: 50px;
}
/* line 241, ../sass/nav.scss */
.left_menu_2 li {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 247, ../sass/nav.scss */
.left_menu_2 li .iconfont {
  font-size: 24px;
  padding: 5px 0;
  display: block;
}
/* line 252, ../sass/nav.scss */
.left_menu_2 li .new {
  display: block;
  margin: 0 auto;
}

/* line 259, ../sass/nav.scss */
.left_menu,
.left_menu_2 {
  background-color: #F5F5F5;
}

/* line 264, ../sass/nav.scss */
.toggle_menu {
  position: fixed;
  bottom: 64px;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 271, ../sass/nav.scss */
.toggle_menu.icon-iconfont42 {
  left: 140px;
}
/* line 274, ../sass/nav.scss */
.toggle_menu.icon-iconfont41 {
  left: 37px;
}

/* line 279, ../sass/nav.scss */
.about_qq {
  position: fixed;
  right: 0;
  top: 70px;
  height: 35px;
  z-index: 100;
  -moz-box-shadow: 0 0px 3px #999;
  -webkit-box-shadow: 0 0px 3px #999;
  box-shadow: 0 0px 3px #999;
}
/* line 286, ../sass/nav.scss */
.about_qq .slide-toggle {
  width: 20px;
  cursor: pointer;
  padding: 3px 4px;
  height: 100%;
  background-color: #374655;
  color: white;
}
/* line 294, ../sass/nav.scss */
.about_qq .slide-toggle .cert {
  margin-top: 11px;
}
/* line 297, ../sass/nav.scss */
.about_qq .slide-toggle.slide-close:after {
  content: "收起";
  line-height: 1.2;
}
/* line 301, ../sass/nav.scss */
.about_qq .slide-toggle.slide-open:after {
  content: "客服";
  line-height: 1.2;
}
/* line 306, ../sass/nav.scss */
.about_qq .toggle-group {
  height: 100%;
  background-color: #ffffff;
}
/* line 312, ../sass/nav.scss */
.about_qq a {
  line-height: 35px;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 318, ../sass/nav.scss */
.about_qq a img {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 322, ../sass/nav.scss */
.about_qq a:hover {
  background-color: rgba(1, 189, 240, 0.1);
}
/* line 325, ../sass/nav.scss */
.about_qq a:first-child {
  line-height: 16px;
  width: 88px;
}
/* line 328, ../sass/nav.scss */
.about_qq a:first-child img {
  float: left;
  margin-top: 8px;
}

/* line 336, ../sass/nav.scss */
.sys_new {
  width: 30px;
  position: relative;
}
/* line 339, ../sass/nav.scss */
.sys_new sup {
  background-color: red;
  color: white;
  border-radius: 5px;
  height: 12px;
  position: absolute;
  line-height: 1;
  top: 10px;
  right: -10px;
  padding: 0 5px;
  text-align: center;
}

/* line 359, ../sass/nav.scss */
.left_menu.menu_v2 .iconfont {
  margin-left: 0;
  margin-right: 5px;
  float: left;
}
/* line 364, ../sass/nav.scss */
.left_menu.menu_v2 span.menu_label {
  float: left;
  margin-right: 20px;
}
/* line 368, ../sass/nav.scss */
.left_menu.menu_v2 li {
  padding-left: 0;
  padding-right: 0;
}
/* line 371, ../sass/nav.scss */
.left_menu.menu_v2 li:hover {
  background-color: initial;
}
/* line 376, ../sass/nav.scss */
.left_menu.menu_v2 li a {
  margin-left: 0;
  display: block;
  position: relative;
}
/* line 380, ../sass/nav.scss */
.left_menu.menu_v2 li a:hover {
  background-color: rgba(1, 189, 240, 0.1);
}
/* line 382, ../sass/nav.scss */
.left_menu.menu_v2 li a:hover .cert {
  border-top-color: #01bdf0;
}
/* line 386, ../sass/nav.scss */
.left_menu.menu_v2 li a.active {
  background-color: #01bdf0;
  color: white;
}
/* line 389, ../sass/nav.scss */
.left_menu.menu_v2 li a.active:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 0px;
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-right-color: #fff;
}
/* line 401, ../sass/nav.scss */
.left_menu.menu_v2 li a .cert {
  position: absolute;
  right: 5px;
  top: 18px;
}
/* line 406, ../sass/nav.scss */
.left_menu.menu_v2 li a span.new {
  margin-right: 18px;
}
/* line 413, ../sass/nav.scss */
.left_menu.menu_v2 .menu-lv-1 > li > a {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  padding-left: 10px;
}
/* line 422, ../sass/nav.scss */
.left_menu.menu_v2 .menu-lv-2 li span.menu_label {
  margin-left: 30px;
}
/* line 429, ../sass/nav.scss */
.left_menu.menu_v2 .menu-lv-3 li span.menu_label {
  margin-left: 45px;
  display: list-item;
  list-style-type: disc;
}
/* line 438, ../sass/nav.scss */
.left_menu.menu_v2 .menu-lv-4 li span.menu_label {
  list-style-type: none;
}

/*# sourceMappingURL=nav.css.map */
