/* line 91, ../sass/variable.scss */
.text-warn {
  color: #ff0033;
}

/* line 94, ../sass/variable.scss */
.text-rever-warn {
  color: #FFFFFF;
  background-color: #ff0033;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-warn:hover:not([disabled]), .btn-warn:focus:not([disabled]) {
  background-color: #e6002e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-warn[disabled] {
  cursor: not-allowed;
  background-color: #ff99ad;
}
/* line 111, ../sass/variable.scss */
.btn-warn.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff0033;
  border: 1px solid #ff0033;
}

/* line 117, ../sass/variable.scss */
.tips-warn {
  background-color: #ff0033;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-remind {
  color: #FFFBE1;
}

/* line 94, ../sass/variable.scss */
.text-rever-remind {
  color: #8a6d3b;
  background-color: #FFFBE1;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}
/* line 102, ../sass/variable.scss */
.btn-remind:hover:not([disabled]), .btn-remind:focus:not([disabled]) {
  background-color: #e6e2cb;
  color: #8a6d3b;
}
/* line 107, ../sass/variable.scss */
.btn-remind[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-remind.btn-outer-border {
  background-color: #8a6d3b;
  color: #FFFBE1;
  border: 1px solid #FFFBE1;
}

/* line 117, ../sass/variable.scss */
.tips-remind {
  background-color: #FFFBE1;
  color: #8a6d3b;
}

/* line 91, ../sass/variable.scss */
.text-active {
  color: #01bdf0;
}

/* line 94, ../sass/variable.scss */
.text-rever-active {
  color: #FFFFFF;
  background-color: #01bdf0;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-active:hover:not([disabled]), .btn-active:focus:not([disabled]) {
  background-color: #01aad8;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-active[disabled] {
  cursor: not-allowed;
  background-color: #8be6ff;
}
/* line 111, ../sass/variable.scss */
.btn-active.btn-outer-border {
  background-color: #FFFFFF;
  color: #01bdf0;
  border: 1px solid #01bdf0;
}

/* line 117, ../sass/variable.scss */
.tips-active {
  background-color: #01bdf0;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-important {
  color: #ff9900;
}

/* line 94, ../sass/variable.scss */
.text-rever-important {
  color: #FFFFFF;
  background-color: #ff9900;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-important {
  background-color: #ff9900;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-important:hover:not([disabled]), .btn-important:focus:not([disabled]) {
  background-color: #e68a00;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-important[disabled] {
  cursor: not-allowed;
  background-color: #ffd699;
}
/* line 111, ../sass/variable.scss */
.btn-important.btn-outer-border {
  background-color: #FFFFFF;
  color: #ff9900;
  border: 1px solid #ff9900;
}

/* line 117, ../sass/variable.scss */
.tips-important {
  background-color: #ff9900;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-success {
  color: #2ecc71;
}

/* line 94, ../sass/variable.scss */
.text-rever-success {
  color: #FFFFFF;
  background-color: #2ecc71;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-success:hover:not([disabled]), .btn-success:focus:not([disabled]) {
  background-color: #29b866;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-success[disabled] {
  cursor: not-allowed;
  background-color: #a8ebc4;
}
/* line 111, ../sass/variable.scss */
.btn-success.btn-outer-border {
  background-color: #FFFFFF;
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

/* line 117, ../sass/variable.scss */
.tips-success {
  background-color: #2ecc71;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-title {
  color: #333333;
}

/* line 94, ../sass/variable.scss */
.text-rever-title {
  color: #FFFFFF;
  background-color: #333333;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-title {
  background-color: #333333;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-title:hover:not([disabled]), .btn-title:focus:not([disabled]) {
  background-color: #2e2e2e;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-title[disabled] {
  cursor: not-allowed;
  background-color: gray;
}
/* line 111, ../sass/variable.scss */
.btn-title.btn-outer-border {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

/* line 117, ../sass/variable.scss */
.tips-title {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-text {
  color: #666666;
}

/* line 94, ../sass/variable.scss */
.text-rever-text {
  color: #FFFFFF;
  background-color: #666666;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-text {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-text:hover:not([disabled]), .btn-text:focus:not([disabled]) {
  background-color: #5c5c5c;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-text[disabled] {
  cursor: not-allowed;
  background-color: #b3b3b3;
}
/* line 111, ../sass/variable.scss */
.btn-text.btn-outer-border {
  background-color: #FFFFFF;
  color: #666666;
  border: 1px solid #666666;
}

/* line 117, ../sass/variable.scss */
.tips-text {
  background-color: #666666;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-icon {
  color: #999999;
}

/* line 94, ../sass/variable.scss */
.text-rever-icon {
  color: #FFFFFF;
  background-color: #999999;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-icon {
  background-color: #999999;
  color: #FFFFFF;
}
/* line 102, ../sass/variable.scss */
.btn-icon:hover:not([disabled]), .btn-icon:focus:not([disabled]) {
  background-color: #8a8a8a;
  color: #FFFFFF;
}
/* line 107, ../sass/variable.scss */
.btn-icon[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
}
/* line 111, ../sass/variable.scss */
.btn-icon.btn-outer-border {
  background-color: #FFFFFF;
  color: #999999;
  border: 1px solid #999999;
}

/* line 117, ../sass/variable.scss */
.tips-icon {
  background-color: #999999;
  color: #FFFFFF;
}

/* line 91, ../sass/variable.scss */
.text-background {
  color: #f5f5f5;
}

/* line 94, ../sass/variable.scss */
.text-rever-background {
  color: #000000;
  background-color: #f5f5f5;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-background {
  background-color: #f5f5f5;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-background:hover:not([disabled]), .btn-background:focus:not([disabled]) {
  background-color: #dddddd;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-background[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-background.btn-outer-border {
  background-color: #000000;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

/* line 117, ../sass/variable.scss */
.tips-background {
  background-color: #f5f5f5;
  color: #000000;
}

/* line 91, ../sass/variable.scss */
.text-none {
  color: #FFFFFF;
}

/* line 94, ../sass/variable.scss */
.text-rever-none {
  color: #000000;
  background-color: #FFFFFF;
  padding: 5px 5px;
}

/* line 99, ../sass/variable.scss */
.btn-none {
  background-color: #FFFFFF;
  color: #000000;
}
/* line 102, ../sass/variable.scss */
.btn-none:hover:not([disabled]), .btn-none:focus:not([disabled]) {
  background-color: #e6e6e6;
  color: #000000;
}
/* line 107, ../sass/variable.scss */
.btn-none[disabled] {
  cursor: not-allowed;
  background-color: white;
}
/* line 111, ../sass/variable.scss */
.btn-none.btn-outer-border {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* line 117, ../sass/variable.scss */
.tips-none {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 123, ../sass/variable.scss */
.iv-tips {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: none;
}
/* line 135, ../sass/variable.scss */
.iv-tips p {
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 142, ../sass/variable.scss */
.iv-tips span.iconfont {
  font-size: 32px;
  margin-right: 10px;
}
/* line 146, ../sass/variable.scss */
.iv-tips .tips-close {
  margin-left: 30px;
}

/* line 4, ../sass/table.scss */
.iv-table {
  width: 100%;
  border-collapse: separate;
}
/* line 7, ../sass/table.scss */
.iv-table img.table_thumb_img {
  max-width: 80px;
  max-height: 50px;
}
/* line 17, ../sass/table.scss */
.iv-table tfoot tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 20, ../sass/table.scss */
.iv-table tfoot tr:last-child td:last-child {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 30, ../sass/table.scss */
.iv-table tr.center td,
.iv-table tr.center th {
  text-align: center;
}
/* line 35, ../sass/table.scss */
.iv-table tr.tr_show {
  display: table-row;
}
/* line 38, ../sass/table.scss */
.iv-table tr.tr_hide {
  display: none;
}
/* line 41, ../sass/table.scss */
.iv-table tr td {
  border-right: 1px solid #d1d2d4;
  border-bottom: 1px solid #d1d2d4;
}
/* line 44, ../sass/table.scss */
.iv-table tr td:first-child {
  border-left: 1px solid #d1d2d4;
}
/* line 51, ../sass/table.scss */
.iv-table thead {
  background-color: #999999;
  color: white;
  line-height: 3em;
}
/* line 56, ../sass/table.scss */
.iv-table thead tr th {
  font-weight: bold;
  text-align: center;
}
/* line 59, ../sass/table.scss */
.iv-table thead tr th:first-child {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 62, ../sass/table.scss */
.iv-table thead tr th:last-child {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 65, ../sass/table.scss */
.iv-table thead tr th a {
  color: #fff;
}
/* line 71, ../sass/table.scss */
.iv-table td,
.iv-table th {
  padding: 10px;
  line-height: 2em;
}
/* line 78, ../sass/table.scss */
.iv-table.table-readonly {
  width: 100%;
  border-collapse: separate;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 82, ../sass/table.scss */
.iv-table.table-readonly thead {
  background-color: #999999;
  color: white;
}
/* line 86, ../sass/table.scss */
.iv-table.table-readonly thead th:first-child {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 89, ../sass/table.scss */
.iv-table.table-readonly thead th:last-child {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 96, ../sass/table.scss */
.iv-table.table-readonly tbody tr:nth-child(odd) {
  background-color: #ededed;
}
/* line 101, ../sass/table.scss */
.iv-table.table-readonly tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 104, ../sass/table.scss */
.iv-table.table-readonly tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 109, ../sass/table.scss */
.iv-table.table-readonly tbody tr td {
  border-right: 1px solid #d1d2d4;
  border-bottom: 1px solid #d1d2d4;
}
/* line 112, ../sass/table.scss */
.iv-table.table-readonly tbody tr td:first-child {
  border-left: 1px solid #d1d2d4;
}
/* line 122, ../sass/table.scss */
.iv-table.table-readonly.toggleable.toggle_on thead th:first-child {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 127, ../sass/table.scss */
.iv-table.table-readonly.toggleable.toggle_on tbody {
  display: none;
}
/* line 135, ../sass/table.scss */
.iv-table.table-readonly.toggleable tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 143, ../sass/table.scss */
.iv-table.table-readonly.toggleable tfoot td {
  position: relative;
  padding: 0;
  text-align: right;
}
/* line 147, ../sass/table.scss */
.iv-table.table-readonly.toggleable tfoot td .iconfont {
  top: 0;
  right: 0;
  position: absolute;
  color: #fff;
  background-color: #d1d2d4;
  width: 22px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 167, ../sass/table.scss */
.iv-table.table-group .td-group {
  margin-left: 18px;
  padding: 10px 18px;
  border-left: 1px solid #ccc;
}
/* line 174, ../sass/table.scss */
.iv-table.table-group tbody tr {
  background-color: #ffffff;
}
/* line 176, ../sass/table.scss */
.iv-table.table-group tbody tr.title {
  background-color: #ededed;
}
/* line 178, ../sass/table.scss */
.iv-table.table-group tbody tr.title td,
.iv-table.table-group tbody tr.title th {
  border-top: 1px solid #d1d2d4;
  padding: 10px;
}
/* line 183, ../sass/table.scss */
.iv-table.table-group tbody tr.title .icon-jianhao,
.iv-table.table-group tbody tr.title .icon-jiahao {
  cursor: pointer;
}
/* line 189, ../sass/table.scss */
.iv-table.table-group tbody tr.addone td, .iv-table.table-group tbody tr.addone th {
  padding: 10px 30px;
}
/* line 193, ../sass/table.scss */
.iv-table.table-group tbody tr:nth-child(odd):not(.title) {
  background-color: #fff;
}
/* line 197, ../sass/table.scss */
.iv-table.table-group tbody tr:last-child td {
  border-bottom: 1px solid #d1d2d4;
}
/* line 201, ../sass/table.scss */
.iv-table.table-group tbody tr td,
.iv-table.table-group tbody tr th {
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  line-height: 1em;
}
/* line 213, ../sass/table.scss */
.iv-table.table-default {
  width: 100%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-top: 0;
  border-right: 0;
}
/* line 222, ../sass/table.scss */
.iv-table.table-default tbody tr {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid solid none;
  border-right: 1px solid #d1d2d4;
  border-left: 1px solid #d1d2d4;
}
/* line 230, ../sass/table.scss */
.iv-table.table-default tbody tr:not(.active) {
  border-bottom: 1px solid #d1d2d4;
}
/* line 233, ../sass/table.scss */
.iv-table.table-default tbody tr:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d1d2d4;
}
/* line 238, ../sass/table.scss */
.iv-table.table-default tbody tr:nth-child(even) {
  background-color: #ededed;
}
/* line 241, ../sass/table.scss */
.iv-table.table-default tbody tr.active {
  border-color: #ff9700;
  border-width: 3px;
  border-top: 3px solid #ff9700;
  border-bottom-width: 3px;
  background-color: rgba(255, 151, 0, 0.15);
}
/* line 247, ../sass/table.scss */
.iv-table.table-default tbody tr.active + tr {
  border-top: 3px solid #ff9700;
}
/* line 249, ../sass/table.scss */
.iv-table.table-default tbody tr.active + tr.active {
  border-top: 1px solid #d1d2d4;
}
/* line 256, ../sass/table.scss */
.iv-table.table-default tbody tr th,
.iv-table.table-default tbody tr td {
  padding: 10px;
}
/* line 260, ../sass/table.scss */
.iv-table.table-default tbody tr td {
  border-right: 1px solid #d1d2d4;
  vertical-align: middle;
}
/* line 263, ../sass/table.scss */
.iv-table.table-default tbody tr td.checktd {
  width: 40px;
  text-align: center;
}
/* line 269, ../sass/table.scss */
.iv-table.table-default tfoot tr {
  background-color: #ededed;
  color: #666666;
}
/* line 270, ../sass/table.scss */
.iv-table.table-default tfoot tr td {
  padding: 10px;
}
/* line 272, ../sass/table.scss */
.iv-table.table-default tfoot tr td:last-child {
  background-color: #fff;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: 0 0px 0px 0px #d1d2d4;
  -webkit-box-shadow: 0 0px 0px 0px #d1d2d4;
  box-shadow: 0 0px 0px 0px #d1d2d4;
}

/* line 286, ../sass/table.scss */
.action-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* line 293, ../sass/table.scss */
.table-action {
  margin: 20px 0;
}
/* line 297, ../sass/table.scss */
.table-action .pull-left a {
  margin-right: 20px;
  color: #666666;
}
/* line 300, ../sass/table.scss */
.table-action .pull-left a:hover {
  color: #01bdf0;
}
/* line 306, ../sass/table.scss */
.table-action .pull-right a {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 309, ../sass/table.scss */
.table-action .pull-right a .iconfont {
  margin: 0 5px;
}

/*# sourceMappingURL=table.css.map */
