@import "variable";
@import "compass/css3";

input[type="checkbox"]{
	margin-left:5px;
	margin-right:5px;
}

.iv-btn{
	padding-top:7px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:7px;
	line-height:1;
	border:0;
	@include border-radius(5px);
	@include inline-block;

	&.btn-spacing-middle{
		letter-spacing:10px;
		padding-right:2px;
		padding-left:12px;	
	}

	
	&.btn-spacing-large{
		letter-spacing:10px;
		padding-right:32px;
		padding-left:42px;	
	}

	&.btn-submit{
		background-color:rgb(253,152,40);
		color:#ffffff;
		&:hover{
			background-color:shade(rgb(253,152,40),10);
		}
	}

	&.btn-search{
		background-color:#2ecc71;	
		color:white;
		&:hover{
			background-color:shade(#2ecc71,10);
		}
	}

	&.btn-default{
		background-color:#e6e6e6;	
		color:#000;
		&:hover{
			background-color:shade(#e6e6e6,10);
		}
	}

	

	&.btn-goto-page{
		background-color:#666666;
		font-weight: bold;
		font-size:14px;
		color:#ffffff;
		&:hover{
			background-color:shade(#666666,10);
		}
	}

}

.btn-upload{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	@include opacity(0);
}

.btn-upload-text{
	position:relative;
	cursor:pointer;
}
