@CHARSET "UTF-8";

.float_left{
	float:left;
}

.float_right{
	float:right;
}
.content_left{
	width:20%;
	vertical-align: top;
}

.content_right{
	width:78%;
	vertical-align: top;
}

.td_space_toggle{
	padding: 0!important;
	height: auto;
}
.div_space_toggle{
	display:none;
}

.menu_lev2{
	padding: 3px 40px !important;
	white-space: nowrap;
	font-size: small;
}

.fromNation{
	color: black;
	font-size: 12px;
}

.toNation{
	color: #234093;
	font-size: 12px;
}

table th{
	white-space: nowrap;
}

.status_label{
	padding: .6em .9em .6em !important;
	font-size: 90% !important;
	font-weight: 100 !important;
}
table td a{
cursor: pointer;
}

.bg_loading{
background-image: url(/../images/loading.gif);
background-repeat: no-repeat;
background-position: center;
}

.noBottom{
margin-bottom: 0px!important;
}

.th_orderid{
	width: 150px;
}

.import_excelFormatText_dialog .modal-dialog{
	width: 450px;
	max-height: 900px;
	overflow: auto;
}
.import_excelFormatText_dialog .modal-body{
	width:100%;
	float:left;
	clear:both;
}
.import_excelFormatText_dialog .modal-footer{
	text-align: center;
}
.shoplist table td , .shoplist table th{
	padding: 4px !important;
	/*border: 1px solid rgb(202,202,202);*/
	vertical-align: middle !important;
	word-break:break-word;
}
#purchase_list_operation_tb >tbody >tr >td{
	padding: 0px;
	border: 0px;
	vertical-align: middle;
	word-break:break-word;
}
/*
#purchase_order_prods_tb >tbody >tr >td,th{
	padding: 4px;
	border: 1px solid rgb(202,202,202);
	vertical-align: middle;
	text-align: center;
	word-break:break-word;
}
*/
.blue-tips{
	color:blue;
}
.red-tips{
	color:red;
}
.sugList table td , .sugList table th{
	padding: 4px !important;
	/*border: 1px solid rgb(202,202,202);*/
	vertical-align: middle !important;
	/*text-align: center;*/
	word-break:break-word;
}
.ui-autocomplete {
	z-index: 2000 !important;
	overflow-y: scroll;
	max-height: 400px;
}
.table-hover tr:hover {
background-color: #afd9ff !important;
}
.eagle-form-control[disabled], .eagle-form-control[readonly]{
cursor: not-allowed;
background-color: #eee;
opacity: 1;
}
#create-purchase-form  .purchase-info-table td{
	padding: 0px !important;
	vertical-align: middle;
	font-size: 12px;
	border:0px !important;
}
#create-purchase-form  .purchase-info-table th{
	border:0px !important;
	/*padding: 4px !important;*/
	vertical-align: middle;
	font-size: 12px;
}
#create-purchase-form  label{
	font-size: 12px;
}
#create-purchase-form  .purchase-info-table input{
	width: 150px;
}
#create-purchase-form  .purchase-info-table select{
	width: 150px;
}
#purchase_order_prods_tb th , #purchase_order_prods_tb td{
border:1px solid #ddd !important;
vertical-align: middle !important;
padding:4px !important;
}

#update-purchase-form   .purchase-info-table td{
	border:0px !important;
	padding: 0px !important;
	vertical-align: middle;
	font-size: 12px;
}
#update-purchase-form  .purchase-info-table th{
	border:0px !important;
	/*padding: 4px !important;*/
	vertical-align: middle;
	font-size: 12px;
}
#update-purchase-form  label{
	font-size: 12px;
}
#update-purchase-form .purchase-info-table input{
	width: 150px;
}
#update-purchase-form  .purchase-info-table select{
	width: 150px;
}
.purchase_order_prods th , .purchase_order_prods td{
	border:1px solid #ddd !important;
	vertical-align: middle !important;
	padding:4px !important;
}
.has-error .eagle-form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.input-group-btn > button {
	padding: 0px;
	height: 28px;
	width: 30px;
	border-radius: 0px;
	border: 1px solid #b9d6e8;
}


.table_list_purchase{
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 22px;
}

.table_list_purchase > tbody > tr > th {
    padding: 7px;
    background-color: #d9effc;
    font: bold 13px SimSun,Arial;
    text-align: center;
    font-weight: bold;
    color: #374655;
    white-space: nowrap;
}

.table_list_tr {
    background-color: #f4f9fc;
    border: 1px solid #ccc;
}

.ck{
	float: left;
}

.list_order_num {
    display: inline-block;
    text-align: left;
    margin-left: 5px;
}

.table_list_tr_items {
    border: 1px solid #ccc;
}

.table_list tr td {
    text-align: left;
    vertical-align: top;
}

.table_list_tr_items > td {
    padding: 5px;
    border: 1px solid #ccc;
}

.purchase_item_table{
	width: 23%;
	float: left;
	margin: 8px;
}
.table_list_tr_items .purchase_item_table tr{
	border: 1px solid #ccc;
}

.table_list_tr_items .purchase_item_table td{
	vertical-align: top !important;
}

.purchase_item_table td{
	min-width: 50px;
}

.purchase_item_table .div_pro_sku_name{
	max-height: 30px;
    line-height: 15px;
	overflow-y: hidden;
}








