@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1447830865_7333443.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1447830865_7333443.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1447830865_7333443.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1447830865_7333443.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1447830865_7333443.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    