/* custom print label */
.label-type{ position:fixed; top:50px; bottom:0; left:0; width:200px; background-color:#fff; z-index:2; border-right:1px solid #cfd9db;}

.label-type .panel-group .panel{ border-radius:0; border-width:1px 0; background-color:#fff; overflow:inherit;}
.label-type .panel-group .panel + .panel{ margin:-1px 0 0;}
.label-type .panel-group .panel .panel-heading{border-radius:0;}
.label-type .panel-group .panel-body{ border:1px 0 0 !important; box-sizing:border-box; padding:0; text-align:center; overflow-y:auto; overflow-x:hidden;}

.dragitem{text-align:center; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);  color:#6a6a6a; border:1px solid #cfd9db; border-radius:3px;  cursor:move;}
.dragitem:hover{border-color: #c6d2d5; color: #777;}
.dragitem .detail{ display:none;}
.dragitem.ui-draggable.ui-draggable-dragging{ z-index:10; }

.dragitem.character{ margin:10px; padding:5px 7px; background-color:#f5f5f5; text-align:left; position:relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.dragitem.character:hover{background-color: #ededed;}
.dragitem.character .title{font-size: 13px; line-height: 20px;}
.dragitem.character + .dragitem.character{margin-top: 5px;}
.dragitem.character.complete{ border-color:#8ac448; cursor:default;}
.dragitem.character.complete:after{ position:absolute; right:2px; top:16px; color:#91c854; content:"\e60c"; font-family:"iconfont";font-style: normal;font-variant: normal;font-weight: normal; line-height: 1;text-transform: none;}
.dragitem .ico-checkbox-unchecked2, .dragitem .ico-checkbox{ display:none;}

.dragitem.draw{ width:60px; height:60px; display:inline-block; margin:10px; padding:3px; background-color:#f5f5f5;}
.dragitem.draw:hover{background-color: #ededed;}
.dragitem.draw i{ line-height:35px; font-size:24px;}
.dragitem.draw .title{font-size: 12px; line-height: 20px; display:block; text-align:center;}

.dragitem.image{ margin:10px auto; width:140px; padding:5px; background-color:#fff; text-align:center; position:relative; overflow: hidden;}
.dragitem.image img{ max-width:100%; max-height:50px;}


.custom-label{position:absolute; left:0; top:0; right:0; bottom:0; z-index:1;}
.custom-header{background-color:#fbfcfc; border-bottom: 1px solid #dae2e4; padding:2px 0 3px; position:absolute; top:0; width:100%; left:0;z-index:3;}
.custom-footer{background-color:#fbfcfc; bottom: 0; -webkit-box-shadow: 0 0 5px #ccc; -moz-box-shadow: 0 0 5px #ccc;box-shadow: 0 0 5px #ccc; left:0;margin: 0;position: absolute;right: 0;z-index:2;}

.custom-header .panel-body, .custom-footer .panel-body{ padding:0 15px;}
.custom-content{ position:absolute; top:0; bottom:0; right:0; left:0; height:100%; z-index:1; overflow:auto;}

.label-content{ background-color:#fff; border-radius:10px; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000; position:relative;}

.unauthorized .custom-drop:after, .unauthorized .copy-drop:after{ content:""; font-size:10px; font-style:italic; color:#999; position:absolute; right:-2px; bottom:-3px;}

.custom-area{ position:absolute; left:5px; right:5px; top:5px; bottom:5px; background-color:#f8f8f8; border:1px solid #e0e0e0; z-index:1;}
.custom-area.active{border-color:#a87a01; background-color:#fff9ea; border-style:dashed;}

.custom-drop{position:absolute; left:5px; right:5px; top:5px; bottom:5px; cursor: default; border:1px solid #e0e0e0; z-index:2;}
.custom-drop.active{border-color:#a87a01; background-color:#fff9ea;border-style:dashed;}

.label-group .view-mask{position:absolute; width:100%; height:100%; top:0; left:0; z-index:3;-webkit-opacity:0; -moz-opacity:0; opacity:0; display:none;}


.dropitem{ cursor:pointer; position:absolute; width:auto;line-height:1; font-size:12px; text-align:left; overflow:hidden; max-width:100%; z-index:1; border-color:#000; border-style:solid; border-width:0; padding:0; }
.dropitem.linetype{box-sizing:border-box; overflow:inherit;}
.dropitem.linetype .line-handle{-webkit-opacity:0.2; -moz-opacity:0.2; opacity:0.2; background-color:#00a5d2; width:10px; height:10px; position:absolute; top:50%; left:50%; cursor:move; margin-left:-5px; margin-top:-5px; border-radius:50%;}
.dropitem.linetype:hover .line-handle{-webkit-opacity:0.5; -moz-opacity:0.5; opacity:0.5;}
.dropitem.linetype.active .line-handle{-webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8;}

.dropitem.circletext{overflow:inherit; box-sizing:content-box; text-align:center; border-color:#333; border-style:solid; border-radius:50%;}
.dropitem.circletext .detail{ font-weight: 700; font-family: Arial;}
.dropitem.ui-draggable.ui-draggable-dragging{ z-index:10;}
.dropitem .title{ padding-right:5px; font-family: Arial; text-align:left;}
.dropitem .detail{ display:inline; font-weight:normal; font-family: Arial; word-break: break-all;word-wrap: break-word;}
.dropitem .ico-checkbox-unchecked2, .dropitem .ico-checkbox{ display:none;}
.dropitem i{ padding-right:3px;}
.dropitem.barcode{ text-align:center; overflow:inherit;}
.dropitem.barcode img{ max-width:100%; min-height:28px;}
.dropitem.barcode .codemunber{font-family: Arial; padding-top:2px; display:block; text-align:center; white-space: nowrap;}
.dropitem.onlineimage{text-align:center;}
.dropitem.onlineimage span{ height:100%; display:inline-block; vertical-align:middle;}
.dropitem.onlineimage img{ max-height:100%; max-width:100%; vertical-align:middle;}
.dropitem.imageitem{ overflow:inherit;box-sizing:content-box;}
.dropitem.imageitem img{ height:100%; width:100%; vertical-align: top;}
.dropitem.skulist, .dropitem.declarelist {overflow:inherit;}

.dropitem.address .detail span{ padding-right:5px;}
.dropitem.address .detail span span{padding:0 0 0 5px;}
.dropitem.address .detail.block>span{ display:block;}

.dropitem.address_mode2 .detail span{ padding-right:5px;word-break: break-word;}
.dropitem.address_mode2 .detail span span{padding:0 0 0 5px;}
.dropitem.address_mode2 .detail.block>span{ display:block;}

.skulist-table{ width:100%; border-collapse:collapse; table-layout:fixed;border-collapse: collapse; border-spacing: 0;}
.skulist-table th, .skulist-table td{ border:1px solid #000; border-style:solid; border-color:#000; box-sizing:border-box; padding:0;}
.skulist-table thead th > span, .skulist-table tbody td > span{ display:block; overflow:hidden;}

.skulist-table .price, .skulist-table .total{ text-align:right;}
.skulist-table .number, .skulist-table .weight, .skulist-table .weight_declare, .skulist-table .price_declare{ text-align:center;}
.skulist-table .photo{ text-align:center; vertical-align:middle;}
.skulist-table.no-tdborder td, .skulist-table.no-tdborder th{ border-width:0;}

.skulist-table.min th{ padding:0 3px;}
.skulist-table.min tbody td{ height:30px;  padding:0 3px;}
.skulist-table.min tfoot td{ height:15px;  padding:0 3px;}
.skulist-table.min thead span{line-height:15px; height:15px; font-weight:normal; text-overflow: ellipsis; white-space: nowrap;overflow:hidden;}
.skulist-table.min tfoot p{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; display:block;line-height:15px; height:15px; padding:0; margin:0;}
.skulist-table.min tbody span{overflow: hidden; line-height:15px; height:30px; display:block; word-break: break-all;word-wrap: break-word;}
.skulist-table.min .photo{width:30px; padding:0;}
.skulist-table.min .photo img{ max-height:30px; max-width:30px;}
.skulist-table.min .photo1{width:40px; padding:0;}
.skulist-table.min .photo1 img{ width:100%;}

.skulist-table.declare tfoot th{ height:40px;}
.skulist-table.declare thead th, .skulist-table.declare tbody td{ height:30px;}
.skulist-table.declare tfoot td{ height:15px;} 
.skulist-table.declare thead th > span{line-height:15px; height:30px; font-weight:normal; }
.skulist-table.declare tbody td > span{line-height:15px;height:30px;}
.skulist-table.declare tbody td > span span { padding-right:5px;}
.skulist-table.declare tfoot th > span{ font-weight:normal;line-height:13px; height:40px; display:block; overflow:hidden;}
.skulist-table.declare tfoot td > span{line-height:15px; height:15px; overflow:hidden;}
.copy-drop .skulist-table.declare  tbody .weight_declare, .copy-drop .skulist-table.declare  tbody .price_declare{ display:none;}

.dropitem:hover{background-color: #ededed; color: #777;  /* z-index:2; */}
.dropitem.active{background-color:#fff;-moz-box-shadow: 0 0 2px 1px #63d3e9;-webkit-box-shadow: 0 0 2px 1px #63d3e9;box-shadow: 0 0 2px 1px #63d3e9;}


.dropitem .ui-resizable-handle.ui-icon.ui-icon-gripsmall-diagonal-se{font-size:16px; line-height:1; -webkit-opacity:0; -moz-opacity:0; opacity:0; background:none; text-indent:0; height:12px; width:12px;}
.dropitem .ui-resizable-handle.ui-icon.ui-icon-gripsmall-diagonal-se:after{font-size:16px; color:#333; content:"\e353";  font-family:"iconfont";font-style: normal;font-variant: normal; font-weight:normal;}
.dropitem:hover .ui-resizable-handle.ui-icon.ui-icon-gripsmall-diagonal-se{ -webkit-opacity:1; -moz-opacity:1; opacity:1;}

.dropitem.active .ui-resizable-handle.ui-icon.ui-icon-gripsmall-diagonal-se{ -webkit-opacity:1; -moz-opacity:1; opacity:1;}
.dropitem.active .ui-resizable-handle.ui-icon.ui-icon-gripsmall-diagonal-se:after{font-size:16px;  color:#009dc8;}


.label-set{ transition:all 0.2s ease 0s; position:fixed; top:50px; bottom:0; right:-240px; width:240px; background-color:#fff; z-index:2; border-left:1px solid #cfd9db; overflow-y:auto; overflow-x:hidden; opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5;}
.label-set.opened{ right:0; opacity:1; -webkit-opacity:1; -moz-opacity:1;}

.label-set .close-label-set{ position:absolute; top:8px; left:10px; font-size:2em; color:#ccc; transition:all 0.5s ease 0s; z-index:2;}
.label-set .edit-btn{ display:block; margin:0 auto 10px; width:210px; overflow:hidden; text-align:center;}
.label-set .edit-btn .btn{ padding-left:28px; padding-right:28px;}
.label-set .group-warning{ margin:0 15px 10px; display:none;}
.label-set .panel { border-radius: 0; border-width: 0; position:relative; z-index:1; margin-bottom:0;}
.label-set .panel .nav-tabs li{ display:none;}
.label-set .panel .panel-body{ padding:10px 15px 5px;}
.label-set .panel .panel-heading p{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.label-set .panel .form-group{ margin-bottom:10px;}
.label-set .panel .form-control{ padding:3px 5px; height:24px; border-radius:3px;}
.label-set .panel .form-group .customnum{ height:24px;}
.label-set .panel .form-group .customnum .subtract, .label-set .panel .form-group .customnum .add{ top:2px;}
.label-set .panel .form-group .btn{ padding:3px 5px; height:24px;}
.label-set .panel .form-group .btn.btn-primary{ float:right;}
.label-set .panel textarea.form-control{ height:70px;}

#declareName .multiple { display:none;}
.multiple .checkbox-inline{ display:block; margin-bottom:2px;}

.viewtype .label-type, .viewtype .label-set, .viewtype .custom-header,.viewtype .hotkey-panel{ display:none;}
.viewtype .dropitem.linetype .line-handle{ display:none;}
.viewtype .custom-drop{ border-color:#fff; background-color:#fff;}
.viewtype .custom-content{ top:0;}

.view-panel{ display:none; position:absolute; top:20px; right:0; height:34px; z-index:10;}

.scale150{ -webkit-transform:scale(1.5); -moz-transform:scale(1.5); transform:scale(1.5);}
.scale200{ -webkit-transform:scale(2); -moz-transform:scale(2); transform:scale(2);}
.scale300{ -webkit-transform:scale(3); -moz-transform:scale(3); transform:scale(3);}

.hotkey-panel{ position:absolute; left:220px; bottom:20px; border:2px solid #fff3d5; border-radius:5px; background-color:#fff9ea; padding:10px; width:180px; -webkit-box-shadow: 0 0 10px #999; -moz-box-shadow: 0 0 10px #999;box-shadow: 0 0 10px #999; z-index:3; -webkit-opacity:0; -moz-opacity:0; opacity:0;transition: all 0.5s ease 0s;}
.hotkey-panel .close-hotkey{color:#ffd66a; font-size: 20px; right:5px; position: absolute; top:5px;transition: all 0.5s ease 0s;}
.hotkey-panel .close-hotkey:hover{ color:#a87a01;}
.hotkey-panel h3{ font-size:18px; margin-top:0; color:#da9e00;}
.hotkey-panel ul{ padding:0; list-style:none; margin:0;}
.hotkey-panel li{ height:22px; display:inline-block; margin:0 8px 5px 0;}
.hotkey-panel li strong{ padding-left:5px;}

.custom-content .label-group{cursor:move; position:absolute;}
.custom-content .label-content.overflow{ margin-top:15px;}
.label-content .copy-drop{ bottom: 5px;cursor: default; left: 5px; position: absolute;right: 5px;top: 5px; z-index:1;}

.refer-tools {position: absolute; right: 0; top: -35px; background-color: rgba(255,255,255,0.85); padding: 2px 5px; border: 1px solid #fff; border-radius: 2px;}

.refer-content{ position: absolute; left: 100%; top: 0;  margin-left: 20px;}
.refer-content.multiply span{ display: none;}
.refer-content.multiply{margin-left: 0; left: 0; width: 100%; height: 100%; text-align: center; vertical-align: middle; z-index: 1;}
.refer-content.multiply span{display: inline-block;height: 100%; vertical-align: middle;}
.refer-content.multiply img{ max-width: 100%; max-height: 100%; vertical-align: middle; border-radius: 0 !important;}







